<template>
	<div class="app-container">
		<SFTitle :params="{ text: title, level: 2 }"></SFTitle>
		<List
			v-if="list"
			:params="{
				list: list,
				fields: fields,
				actions: {
					edit: 'disabled',
					delete: 'disabled',
					detail: 'disabled'
				},
				extra_btn: [
					{
						// ex: origin_url/view/{record_id}?flow_id={flow_id}
						name: '檢視',
						button_name: '檢視',
						path: 'view', // 後面加上的網址
						para: ['flow_id'] // 新增的參數
					}
				]
			}"
		></List>
	</div>
</template>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import SFTitle from '@/components/SFTitle.vue';
import List from '@/views/sf_list';
import Layout from '@/views/layout/Layout';
export default {
	name: 'Dashboard',
	components: {
		SFTitle,
		List
	},
	data: function() {
		return {
			title: '',
			fields: [
				{
					id: 'flow_name',
					name: '表單名稱'
				},
				{
					id: 'step',
					name: '狀態'
				}
			],
			page: '',
			form: {},
			api: {},
			rules: {},
			form_name: '',

			list: null
		};
	},
	created() {
		axios
			.post('/flowapi/GET_MY_CREATED_FLOW', {
				flow_name: this.flow_name,
				status: this.type
			})
			.then(response => {
				let list = response.data;
				// console.log(list);
				for (let item of list) {
					item.id = item.record_id;
				}
				this.list = list;

				// 產生檢視的route

				let reviewParentRoute = this.$store.state.routeList.find(
					route => route.path === `/${this.$route.path}/view`
				) || {
					path: `/${this.$route.path}/view`,
					name: this.$route.path.split('/')[1],
					component: Layout,
					children: [],
					hide: true
				};
				let current_url = this.$route.path;
				console.log('current_url = ');
				console.log(current_url);
				for (let item of list) {
					console.log('flow_id = ');
					console.log(item);
					let detail_url = `${current_url}/view/${item.record_id}`;
					console.log(detail_url);
					let reviewRoute = {
						path: detail_url,
						name: `review_${this.$route.path.split('/')[1]}_${
							item.record_id
						}`,
						component: () =>
							import('@/views/sf_flow_user_view/index'),
						hidden: true
					};
					reviewParentRoute.children.push(reviewRoute);
				}
				this.$router.addRoutes([reviewParentRoute]);
			})
			.catch(error => {
				console.error(error.response.data);
			});
	},
	mounted() {},
	computed: {
		...mapGetters(['roles'])
	},
	methods: {}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
}
</style>
