<template>
	<div class="app-container">
		<SFTitle :params="{ text: title, level: 2 }"></SFTitle>
		<SFTitle :params="{ text: '表單內容', level: 2 }"></SFTitle>
		<TabView
			ref="tab_forms"
			:params="{
				forms_data: form_names,
				lock,
				unlock,
				shows,
				hidden,
				lock_all: true,
				tab_index
			}"
		></TabView>
		<SFTitle :params="{ text: '審核紀錄', level: 2 }"></SFTitle>

		<el-table
			:data="review_history"
			style="width: 100%;margin-bottom: 20px;"
			row-key="id"
			border
			default-expand-all
			:default-sort="{ prop: 'datetime', order: 'ascending' }"
		>
			<el-table-column prop="datetime" label="日期" sortable>
			</el-table-column>
			<el-table-column prop="step" label="狀態"> </el-table-column>
			<el-table-column prop="reviewer" label="審核人"> </el-table-column>
			<el-table-column prop="option" label="選項"> </el-table-column>
			<el-table-column prop="comment" label="評論"> </el-table-column>
		</el-table>
		<div>
		
			<el-button
				v-for="item in bottom_button"
				:key="item.id"
				:type="item.type"
				:icon="item.icon"
				@click="downloadFile(item.id)"
				>{{ item.text }}</el-button
			>
			<a
				v-for="item in bottom_button"
				:key="item.id"
				:id="item.id"
				:href="item.link"
				:download="item.fileName"
				hidden
			></a>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import TabView from '@/views/sf_tab_view';
import SFTitle from '@/components/SFTitle.vue';

export default {
	props: ['params'],
	components: {
		TabView,
		SFTitle
	},
	filters: {},
	data() {
		return {
			tabPosition: 'left',
			title: '',
			form_names: [],
			form_record_ids: [],

			fields: {},
			form: {},
			form_record_id: '',
			flow_name: this.$route.path.split('/')[1],
			comment: '',
			review_options: [],
			lock: [],
			unlock: [],
			shows: [],
			hidden: [],
			review_history: [],
			bottom_button: [],
			tab_index: '0',
		};
	},
	computed: {
		flow_record_id: function() {
			return this.$route.path.split('/')[4];
		},
		tab_display: function() {
			return this.$route.path.split('/')[5];
		}
	},
	created() {
		axios
			.post('/flowapi/GET_FLOW_STEP', {
				flow_name: this.flow_name,
				flow_record_id: this.flow_record_id
			})
			.then(response => {
				let data = response.data;
				let {
					title,
					forms,
					bottom_button,
					form_names,
					review_history,
					field_control
				} = data;
				// console.log(forms);
				// console.log(form_names);
				for (let item of form_names) {
					item.record_id = forms[item.form];
				}
				for (let i in form_names) {
					if (form_names[i].form === this.tab_display) {
						this.tab_index = i
					}
				}
				this.form_names = form_names;
				this.form_record_ids = Object.values(forms);
				this.title = title;
				this.review_history = review_history;

				this.lock = field_control.lock;
				this.unlock = field_control.unlock;
				this.shows = field_control.shows;
				this.hidden = field_control.hidden;
				this.bottom_button = bottom_button;
			})
			.catch(error => {
				console.error(error.response.data);
			});
	},
	methods: {
		downloadFile(id) {
			console.log('click download');
			console.log(id);
			document.getElementById(id).click();
			// this.download(link, fileName);
		}
	}
};
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
[v-clock] {
	display: none;
}
.search-input {
	margin-bottom: 30px;
	width: 400px;
}
.edit_table {
	position: absolute;
	right: 35px;
}
</style>
