<% layout('template/common') %>
<% block('title').append('<title>修改密碼</title>') %>
<script src="/web/moment.min.js"></script>
<script src="/web/flexform/flexform.js"></script>

<script>
var onConnect = function () {
	
}
	
function submit() {
	var o_p = document.getElementById('original_password').value;
	var n_p = document.getElementById('new_password').value;
	var c_p = document.getElementById('confirm_password').value;
	if (o_p.length === 0) {
		alert('請填寫原先的密碼');
		document.getElementById('original_password').focus();
		return;
	} else if (n_p.length === 0) {
		alert('請填寫新的密碼');
		document.getElementById('new_password').focus();
		return;
	} else if (c_p.length === 0) {
		alert('請再填一次新的密碼');
		document.getElementById('confirm_password').focus();
		return;
	}
	if (n_p !== c_p) {
		alert('新的密碼不一致');
		document.getElementById('new_password').focus();
		return;
	}
	console.log('輸入正確');
	
	SR.API._ACCOUNT_SETPASS({original_password: o_p, password: n_p }, function (err, result) {
		if (err) {
			return console.error(err);	
		}
		alert(result.desc);
		if (result.success === 1)
			window.history.back();
	});
}
	
</script>

<section id="four" class="wrapper style2 special">
	<div class="inner">
		<header class="major narrow">
			<h2><div id="form_title">修改密碼</div></h2>
			
		</header>
		<table>
			<tr>
				<td>請輸入原先的密碼</td>
				<td><input id="original_password" name="password_verify" placeholder="請輸入原先的密碼" type="password" /></td>
			</tr>
			<tr>
				<td>請輸入新的密碼</td>
				<td><input id="new_password" name="password_verify" placeholder="請輸入新的密碼" type="password" /></td>
			</tr>
			<tr>
				<td>請再輸入一次新的密碼</td>
				<td><input id="confirm_password" name="password_verify" placeholder="請再輸入一次新的密碼" type="password" /></td>
			</tr>
			
		</table> 
		
		
		<ul class="actions">						
			<li><a class="button special" href="javascript:submit()">送出</a></li>
			<li><a class="button special" href="/main">回主畫面</a></li>					
		</ul>
	</div>
</section>