<template>
	<div class="app-container">
		<SFTitle :params="{ text: title, level: 2 }"></SFTitle>
		<List
			v-if="list"
			:params="{
				list: list,
				fields: fields,
				actions: {
					edit: 'disabled',
					delete: 'disabled',
					detail: 'disabled'
				}
			}"
		></List>
	</div>
</template>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import List from '@/views/sf_list';
import SFTitle from '@/components/SFTitle.vue';

export default {
	name: 'Dashboard',
	props: ['params'],
	components: {
		SFTitle,
		List
	},
	data: function() {
		return {
			title: '',
			fields: {},
			page: '',
			form: {},
			string_type: ['string', 'date', 'choice', 'email'],
			array_type: ['multichoice'],
			list: null
		};
	},
	created() {
		// const string_type = ['string', 'date', 'choice'];
		// const array_type = ['multichoice'];
		// const object_type = [];
		// const boolean_type = ['boolean'];

		axios.get(this.url).then(response => {
			console.log('custom ' + this.url)
			let data = response.data;
			this.name = data.name;
			this.title = data.title;
			this.fields = data.data.fields;
			this.page = data.page;
			let form_data = Object.values(data.data.values)[0];
			Object.keys(data.data.values).forEach(key => {
				form_data.id = key
			})
			this.list = [form_data];
			this.fields.forEach(field => {
				let field_type = field.type;
				if (
					this.string_type.includes(field_type) &&
					!form_data.hasOwnProperty(field.id)
				) {
					form_data[field.id] = '';
				} else if (
					this.array_type.includes(field_type) &&
					!form_data.hasOwnProperty(field.id)
				) {
					form_data[field.id] = [];
				}
			});
			this.form = form_data;
		});
	},
	computed: {
		...mapGetters(['roles']),
		form_name: function() {
			if (this.params && this.params.form_name) {
				return this.params.form_name;
			} else {
				return this.$route.path.split('/')[1];
			}
		},
		record_id: function() {
			if (this.params && this.params.record_id) {
				console.log('1' + this.params.record_id);
				return this.params.record_id;
			} else {
				console.log('2' + this.$route.path.split('/')[3]);
				return this.$route.path.split('/')[3];
			}
		},
		can_edit: function() {
			if (this.params && typeof this.params.can_edit !== 'undefined') {
				return this.params.can_edit;
			} else {
				return true;
			}
		},
		url: function() {
			let defaultUrl = `/api/custom/${this.form_name}/${this.record_id}`;
			return this.$route.meta
				? this.$route.meta.schemaApi
					? this.$route.meta.schemaApi
					: defaultUrl
				: defaultUrl;
		}
	},
	methods: {
		onEdit() {
			let update_url = `update/${this.$route.path.split('/')[2]}`;
			console.log(update_url);
			this.$router.push(update_url);
		}
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
}
.el-tag {
	margin-right: 12px;
}
</style>
