<template>
	<div class="app-container">
		<el-row type="flex" justify="space-between">
			<el-col :span="6">
				<el-input-number 
					v-model="num" 
					controls-position="right"  
					:min="1" :max="this.fields.length">
				</el-input-number>
				<div v-for="n in num" class="filter">
					<el-input
						class="search-input"
						@change="handleChange"
						placeholder="Please input"
						v-model="searchInput[n - 1]"
						clearable
					>
						<el-select v-model="option[n - 1]" slot="prepend" placeholder="Select">
							<el-option 
								v-for="item in fields" 
								:key="item.id"
								:label="item.name" 
								:value="item.name"></el-option>
						</el-select>
						<el-button slot="append" icon="el-icon-search"></el-button>
					</el-input>
				</div>
			</el-col>			
			<el-col :span="6" align="right">
				<el-button
					v-cloak
					v-if="this.showCreate && this.createPosition === 'top'"
					type="primary"
					@click="create_link()"
					size="small"
				>
					{{ this.createButtonText }}
				</el-button>
			</el-col>
		</el-row>
		<el-button
			type="primary"
			icon="el-icon-edit"
			round
			v-if="this.showEditTable"
			class="edit_table"
			@click="edit_table()"
			>Edit Table</el-button
		>
		<el-table
			v-loading="listLoading"
			:data="show_list"
			element-loading-text="Loading"
			border
			fit
			highlight-current-row
		>
			<el-table-column
				v-for="item in fields"
				:key="item.id"
				align="center"
				:label="item.name"
				:sortable="item.sortable"
			>
				<template slot-scope="scope">
					<div v-if="item.type === 'choice'">
						{{
							scope.row[item.id] &&
							typeof scope.row[item.id] === 'string'
								? item.option.find(
										e => e.value === scope.row[item.id]
								  )
									? item.option.find(
											e => e.value === scope.row[item.id]
									  ).text
									: 'N/A'
								: typeof scope.row[item.id] === 'object'
								? item.option.find(
										e => e.value === scope.row[item.id].id
								  )
									? item.option.find(
											e =>
												e.value ===
												scope.row[item.id].id
									  ).text
									: 'N/A'
								: scope.row[item.id]
						}}
					</div>
					<div
						v-else-if="
							item.type === 'multichoice' || item.extendable
						"
					>
						<el-tag
							v-for="(opt, index) in scope.row[item.id]"
							:key="index"
						>
							{{
								typeof opt === 'object'
									? item.hasOwnProperty('option_text')
										? opt[item.option_text]
										: opt['name']
									: item.hasOwnProperty('option')
									? item.option.find(o => o.value === opt)
										? item.option.find(o => o.value === opt)
												.text
										: 'N/A'
									: opt
							}}
						</el-tag>
					</div>
					<div v-else-if="item.type !== 'multichoice'">
						{{ scope.row[item.id] }}
					</div>
				</template>
			</el-table-column>
			<el-table-column
				v-if="this.showDetail"
				label="Detail"
				width="90"
				align="center"
			>
				<template slot-scope="scope">
					<el-button
						type="primary"
						@click="detail_link(scope.row.id)"
						size="small"
					>
						{{ $t('message.detail') }}
					</el-button>
				</template>
			</el-table-column>
			<el-table-column
				v-if="this.showEdit"
				label="Edit"
				width="90"
				align="center"
			>
				<template slot-scope="scope">
					<el-button
						type="success"
						@click="edit_link(scope.row.id)"
						size="small"
					>
						{{ $t('message.edit') }}
					</el-button>
				</template>
			</el-table-column>
			<el-table-column
				v-if="this.showDelete"
				label="Delete"
				width="90"
				align="center"
			>
				<template slot-scope="scope">
					<el-button
						type="info"
						@click="deleteAction(scope.row.id)"
						size="small"
					>
						{{ $t('message.delete') }}
					</el-button>
				</template>
			</el-table-column>
			<el-table-column
				v-if="this.showLink"
				:label="this.linkLabel"
				width="90"
				align="center"
			>
				<template slot-scope="scope">
					<el-button
						type="primary"
						@click="custom_link(scope.row.id)"
						size="small"
					>
						{{ linkLabel }}
					</el-button>
				</template>
			</el-table-column>
			<el-table-column
				v-for="(item, i) in extra_btn"
				align="center"
				:label="item.name"
				:key="i"
			>
				<template slot-scope="scope">
					<el-button
						type="primary"
						@click="custom_link(scope.row, item)"
						size="small"
					>
						{{ item.button_name }}
					</el-button>	
				</template>
			</el-table-column>
		</el-table>
		<br />
		<el-pagination
			@size-change="handleSizeChange"
			@current-change="handleCurrentChange"
			:page-sizes="[5, 10, 15, 20]"
			:current-page.sync="current_page"
			layout="total, sizes, prev, pager, next, slot"
			:total="totalList"
		>
		</el-pagination>
		<p v-cloak v-if="this.showCreate && createPosition === 'bottom'">
			<el-button
				v-cloak
				v-if="this.showCreate && this.createPosition === 'bottom'"
				type="primary"
				@click="create_link()"
				size="small"
			>
				{{ this.createButtonText }}
			</el-button>
		</p>
	</div>
</template>

<script>
import axios from 'axios';
import Layout from '@/views/layout/Layout';

export default {
	props: ['params'],
	filters: {
		statusFilter(status) {
			const statusMap = {
				published: 'success',
				draft: 'gray',
				deleted: 'danger'
			};
			return statusMap[status];
		}
	},
	data() {
		return {
			meta: {},
			list: null,
			listLoading: true,
			fields: [],
			fetchurl: '',
			edit: false,
			totalList: 0,
			original_list: [],
			show_list: [],
			nameID: [],
			items_per_page: 10,
			current_page: 1,
			start_index: 0,
			searchInput: [],
			option: [],
			num: '',
			itemID: [],
			flow: false,
			type: ''
		};
	},
	computed: {
		showDetail() {
			return !(
				(this.meta.hasOwnProperty('actions') &&
				this.meta.actions.hasOwnProperty('detail') &&
				this.meta.actions.detail === 'disabled') || 
				(this.$route.meta.hasOwnProperty('actions') && 
				this.$route.meta.actions.hasOwnProperty('detail') &&
				this.$route.meta.actions.detail === 'disabled')
			);
		},
		showEdit() {
			return !(
				(this.meta.hasOwnProperty('actions') &&
				this.meta.actions.hasOwnProperty('edit') &&
				this.meta.actions.edit === 'disabled') || 
				(this.$route.meta.hasOwnProperty('actions') && 
				this.$route.meta.actions.hasOwnProperty('edit') &&
				this.$route.meta.actions.edit === 'disabled')
			);
		},
		showDelete() {
			return !(
				(this.meta.hasOwnProperty('actions') &&
				this.meta.actions.hasOwnProperty('delete') &&
				this.meta.actions.delete === 'disabled') || 
				(this.$route.meta.hasOwnProperty('actions') && 
				this.$route.meta.actions.hasOwnProperty('delete') &&
				this.$route.meta.actions.delete === 'disabled')
			);
		},
		showCreate() {
			return !(
				this.meta.hasOwnProperty('actions') &&
				this.meta.actions.hasOwnProperty('createPosition') &&
				this.meta.actions.createPosition === 'disabled'
			);
		},
		showLink() {
			return (
				this.meta.hasOwnProperty('actions') &&
				this.meta.actions.hasOwnProperty('link') &&
				this.meta.actions.link !== 'disabled'
			);
		},
		linkLabel() {
			return this.meta.hasOwnProperty('actions') &&
				this.meta.actions.hasOwnProperty('link') &&
				this.meta.actions.link.label
				? this.meta.actions.link.label
				: 'Link';
		},
		createPosition() {
			if (
				this.meta.hasOwnProperty('actions') &&
				this.meta.actions.hasOwnProperty('createPosition') &&
				['top', 'bottom'].includes(this.meta.actions.createPosition)
			) {
				return this.meta.actions.createPosition;
			} else {
				return '';
			}
		},
		schemaUrl: function() {
			let defaultUrl = '/api/' + this.$route.path.split('/')[1];
			return this.$route.meta
				? this.$route.meta.schemaUrl
					? this.$route.meta.schemaUrl
					: defaultUrl
				: defaultUrl;
		},
		submitUrl: function() {
			let defaultUrl = `/api/${this.form_name}`;
			return this.$route.meta
				? this.$route.meta.submitUrl
					? this.$route.meta.submitUrl
					: defaultUrl
				: defaultUrl;
		},
		createButtonText() {
			if (
				this.meta.hasOwnProperty('actions') &&
				this.meta.actions.hasOwnProperty('createButtonText') &&
				typeof this.meta.actions.createButtonText === 'string' &&
				this.meta.actions.createButtonText
			) {
				return this.meta.actions.createButtonText;
			} else {
				return 'New';
			}
		},
		showEditTable() {
			return this.edit;
		},
		extra_btn() {
			if (this.params && this.params.extra_btn) {
				this.flow = true;
				return this.params.extra_btn;
			} else if (
				this.$route.meta &&
				this.$route.meta.hasOwnProperty('extra_btn')
			) {
				return this.$route.meta.extra_btn;
			} else {
				return [];
			}
		},
		useComponent: function() {
			if (this.type === 'pending') {
				return import('@/views/sf_flow_review/index');
			} else if (this.type === 'processed') {
				return import('@/views/sf_flow_detail/index');
			} else if (this.type === 'done') {
				return import('@/views/sf_flow_detail/index');
			} else {
				return '';
			}
		}
	},
	created() {
		if (!this.params) {
			this.params = {};
		}
		if (this.params.list && this.params.fields) {
			this.fields = this.params.fields;

			for (const field_item of this.fields) {
                    this.itemID.push(field_item.id);
                    this.nameID.push({id: field_item.id, name: field_item.name})
                }

            let values = Object.keys(this.params.list).map(key =>
                    Object.assign(this.params.list[key], { id: this.params.list[key].id })
                );
			
			this.original_list = values;
			this.list = this.original_list;
			this.totalList = this.list.length;
			this.showList(this.start_index, this.items_per_page);
			this.listLoading = false;
			this.meta = Object.assign(this.meta, this.params);
		} else {
			this.fetchData();
		}
	},
	methods: {
		handleChange(value) {
			if (value === '') {
				this.totalList = this.original_list.length;
				this.list = this.original_list;
				this.handleCurrentChange(1);
				this.$message(`Show total ${this.totalList} results.`);
			} else {
				let filter = []
				let length = 0
				if(this.num < this.searchInput.length) {
					length = this.num
				} else {
					length = this.searchInput.length
				}
				
				for(var i = 0; i < length; i++) {
					for(var j = 0; j < this.nameID.length; j++) {
						if(this.option[i] === this.nameID[j].name) {
							filter.push({field: this.nameID[j].id, input: this.searchInput[i]})
						}
					}
				}
				
				const tmpList = this.list;
				let filtered = [];
				
				filtered = tmpList.filter((elem, index, arr) => {
					let hasFound = false
					let count = 0

					Object.keys(elem).forEach(key => {
						for(var i = 0; i < length; i++) {
							if (key === filter[i].field && elem[key].includes(filter[i].input)) {
								count += 1
							}
							if(count == length) {
								hasFound = true
							}
						}
					})
					return hasFound
				})
				
				// The following code is original version :
				// const tmpList = this.list;
				// let filtered = [];
				// for (const key of this.itemID) {
				// 	let tmpArray = this.createFilter(tmpList, key, value);
				// 	if (tmpArray.length != 0) {
				// 		filtered.push(tmpArray);
				// 	}
				// }
				// filtered = [...new Set([].concat.apply([], filtered))];
				
				this.totalList = filtered.length;
				this.list = filtered;
				this.showList(this.start_index, this.items_per_page);
				this.$message(`${this.totalList} results found.`);
			}
		},
		createFilter(array, key, value) {
			return array.filter(e => {
				if (typeof e[key] == 'string') {
					return e[key].toLowerCase().includes(value.toLowerCase());
				} else if (typeof e[key] == 'number') {
					return e[key]
						.toString()
						.toLowerCase()
						.includes(value.toString().toLowerCase());
				}
			});
		},
		handleSizeChange(val) {
			this.items_per_page = val;
			this.handleCurrentChange(1);
		},
		handleCurrentChange(val) {
			this.current_page = val;
			let new_val = val - 1;
			this.start_index = this.items_per_page * new_val;
			this.showList(this.start_index, this.items_per_page);
		},
		fetchData() {
			for (let item of this.$route.matched) {
				if (this.$route.path === item.path && item.props) {
					let props = item.props.default;
					if (props && props.edit) {
						this.edit = true;
					}
				}
			}
			this.listLoading = true;
			//let url = '/api/' + this.$route.path.split('/')[1];
			let url = this.schemaUrl;
			this.fetchurl = url;
			let pageTypes = {
				list: () => import('@/views/sf_list/index'),
				update: () => import('@/views/sf_update/index'),
				detail: () => import('@/views/sf_detail/index'),
				custom: () => import('@/views/sf_custom/index')
			};
			console.log('url ' + this.fetchurl);
			axios.get(url).then(res => {
				this.fields = res.data.data ? res.data.data.fields : {};
				for (const field_item of this.fields) {
					this.itemID.push(field_item.id);
					this.nameID.push({id: field_item.id, name: field_item.name})
				}
				if (res.data.data.meta) {
					this.meta = Object.assign({}, res.data.data.meta);
					console.log('meta' + JSON.stringify(this.meta));
				}
				const _pageTypes = Object.assign({}, pageTypes);
				if (this.meta && this.meta.page) {
					_pageTypes.update =
						this.meta.page.update &&
						pageTypes.hasOwnProperty(this.meta.page.update)
							? pageTypes[this.meta.page.update]
							: pageTypes.update;
					_pageTypes.detail =
						this.meta.page.detail &&
						pageTypes.hasOwnProperty(this.meta.page.detail)
							? pageTypes[this.meta.page.detail]
							: pageTypes.detail;
					_pageTypes.list =
						this.meta.page.list &&
						pageTypes.hasOwnProperty(this.meta.page.list)
							? pageTypes[this.meta.page.list]
							: pageTypes.list;
				}

				let detailParentRoute = this.$store.state.routeList.find(
					route => route.path === `/${this.$route.path.split('/')[1]}`
				) || {
					path: `/${this.$route.path.split('/')[1]}`,
					name: this.$route.path.split('/')[1],
					component: Layout,
					children: [],
					hide: true
				};

				let updateParentRoute = this.$store.state.routeList.find(
					route =>
						route.path ===
						`/${this.$route.path.split('/')[1]}/update`
				) || {
					path: `/${this.$route.path.split('/')[1]}/update`,
					name: this.$route.path.split('/')[1],
					component: Layout,
					children: [],
					hide: true
				};

				let current_url = this.$route.path;
				let values = Object.keys(res.data.data.values).map(key =>
					Object.assign(res.data.data.values[key], { id: key })
				);
				Object.keys(res.data.data.values).forEach(key => {
					let detail_url = `${current_url.replace('list', '')}${key}`;
					let detailRoute = {
						path: detail_url,
						name: `detail_${this.$route.path.split('/')[1]}_${key}`,
						component: _pageTypes.detail,
						hidden: true
					};
					detailParentRoute.children.push(detailRoute);

					let update_url = `${current_url.replace(
						'list',
						'update/'
					)}:${key}`;
					let updateRoute = {
						path: update_url,
						name: 'update page',
						component: _pageTypes.update,
						hidden: true
					};
					updateParentRoute.children.push(updateRoute);

				});
				this.$router.addRoutes([detailParentRoute, updateParentRoute]);
				this.original_list = values;
				this.list = this.original_list;
				this.totalList = this.original_list.length;
				this.showList(this.start_index, this.items_per_page);
				this.listLoading = false;
			});
		},
		showList(start_index, items_per_page) {
			this.show_list = [];
			if (this.totalList > items_per_page) {
				for (
					let i = start_index;
					i < start_index + items_per_page;
					i++
				) {
					if (this.list[i] == null) return;
					this.show_list.push(this.list[i]);
				}
			} else {
				this.show_list = this.list;
			}
		},
		create_link() {
			let current_url = this.$route.path;
			let create_url = `${current_url.replace('list', 'create')}`;
			this.$router.push(create_url);
		},
		detail_link(row_id) {
			let detail_route_name = `detail_${
				this.$route.path.split('/')[1]
			}_${row_id}`;
			this.$router.push({ name: detail_route_name });
		},
		edit_link(id) {
			let current_url = this.$route.path;
			let update_url = `${current_url.replace(this.$route.path.split('/')[2], 'update')}/${id}`;
			this.$router.push(update_url);
		},
		custom_link(record, setting) {
			let id = record.id;
			let path = setting.path;
			let paras = setting.para || [];
			let query = {};
			let current_url = this.$route.path;
			let redirect;

			// set up custom route
			let customParentRoute = this.$store.state.routeList.find(
					route => route.path === `/${this.$route.path.split('/')[1]}/custom`
				) || {
					path: `/${this.$route.path.split('/')[1]}/custom`,
					name: this.$route.path.split('/')[1],
					component: Layout,
					children: [],
					hide: true
				}
			
			if (setting.custom_path) {
				let custom_path = eval(setting.custom_path);
				
				let u_path = custom_path(record)
				console.log(u_path);

				console.log(record);
				console.log(record.flow_record_id)
				if (u_path.url.includes(record.flow_record_id)) {
					let custom_url = `${u_path.url}`;
					this.type = u_path.url.split('/')[2];
					console.log(custom_url);
					let customRoute = {
						path: custom_url,
						name: `${u_path.url.split('/')[2]}_${u_path.url.split('/')[1]}_${record.flow_record_id}`,
						component: () => this.useComponent,
						hidden: true
					}
					customParentRoute.children.push(customRoute);
					this.$router.addRoutes([customParentRoute]);
					this.$router.push({ name: custom_url})
				}
				this.$router.push({ path: u_path.url, query: u_path.query})

			}

			else {
				for (let para of paras) {
					if (record[para]) {
						query[para] = record[para];
					}
				}
				if (this.flow === true) {
					let update_url = `${current_url}/${path}/${id}`;

					console.log('update_url = ' + update_url);
					this.$router.push({ path: update_url, query });
				}
				else if (this.flow === false) {
					for (let i in this.meta.extra_btn) {
						if (this.meta.extra_btn[i].redirect) {
							redirect = this.meta.extra_btn[i].redirect;
							this.$router.push({ path: redirect });
						}
						else {
							redirect = `custom_${this.$route.path.split('/')[1]}_${id}`;
							this.$router.push({ name: redirect });
						}
					}
				}
			}
			
		},
		
		edit_table() {
			//alert('edit table');
		},
		deleteAction(id) {
			let current_url = this.$route.path;
			let delete_url = `/api${current_url.replace('list', '')}${id}`;
			this.$confirm(
				'This operation will delete the record permanently, continue?',
				'Warning',
				{
					confirmButtonText:  this.$t('message.yes') ,
					cancelButtonText: this.$t('message.no'),
					type: 'warning'
				}
			)
				.then(() => {
					return axios.delete(delete_url);
				})
				.then(() => {
					this.fetchData();
					this.$message({
						type: 'success',
						message: 'success!'
					});
				});
		}
	}
};
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
[v-clock] {
	display: none;
}
.search-input {
	margin-bottom: 30px;
	width: 400px;
}
.edit_table {
	position: absolute;
	right: 35px;
}
.el-select  {
    width: 170px;
  }
.filter {
	margin-bottom: 5px;
}
.el-input-number {
  width: 110px;
}
</style>
