<template>
	<div class="app-container">
		<el-form
			class="el-form"
			:model="form"
			:rules="rules"
			ref="form"
			label-width="180px"
		>
			<el-row>
				<template v-for="(item, field) in fields">
					<el-col :span="item.span" :key="field">
						<div
							v-bind:class="{
								bg_modify:
									showEditColor &&
									!new_data &&
									JSON.stringify(original_data[field]) !==
										JSON.stringify(form[field])
							}"
						>
							<el-form-item
								v-show="item.show"
								:label="item.name"
								:key="`item${field}`"
								:for="field"
								:prop="field"
							>
								<el-input
									v-if="
										item.type === 'string' &&
											!item.extendable
									"
									v-model="form[field]"
									:name="field"
									:placeholder="item.placeholder"
									:disabled="disabled || item.immutable"
									v-on:change="changeForm(field)"
								/>
								<template v-if="item.extendable">
									<el-form-item
										v-for="(arrayItem, arrayIndex) in form[
											field
										]"
										:label="`${arrayIndex}`"
										:key="arrayIndex"
										label-width="50px"
									>
										<el-input
											style="width:70%; margin:5px"
											v-model="form[field][arrayIndex]"
										></el-input
										><el-button
											type="danger"
											plain
											style="margin-left:10px"
											@click.prevent="
												removeArrayItem(
													field,
													arrayIndex
												)
											"
											>-</el-button
										>
									</el-form-item>
									<el-form-item>
										<el-button
											@click="
												addArrayItem(field, item.type)
											"
											>+</el-button
										>
									</el-form-item>
								</template>
								<el-input
									v-if="item.type === 'email'"
									v-model="form[field]"
									:name="field"
									:placeholder="item.placeholder"
									:disabled="disabled || item.immutable"
								/>
								<el-input
									v-if="item.type === 'textarea'"
									type="textarea"
									:rows="item.row || 3"
									v-model="form[field]"
									:name="field"
									:placeholder="item.placeholder"
									:disabled="disabled || item.immutable"
								/>
								<el-input
									v-if="item.type === 'password'"
									type="password"
									v-model="form[field]"
									:name="field"
									:placeholder="item.placeholder"
									:disabled="disabled || item.immutable"
								/>
								<el-input
									v-if="
										item.type === 'number' &&
											!item.extendable
									"
									v-model.number="form[field]"
									:placeholder="item.placeholder"
									:disabled="disabled || item.immutable"
								/>
								<el-select
									v-if="item.type === 'choice'"
									v-model="form[field]"
									:placeholder="item.placeholder"
									:disabled="disabled || item.immutable"
								>
									<el-option
										v-for="(opt, index) in item.option"
										:key="`${field}-option-${index}`"
										:label="opt.text"
										:value="opt.value"
									/>
								</el-select>

								<el-input-number
									v-if="item.type === 'number'"
									v-model="form[field]"
									:@change="item.handleChange"
									:min="item.min"
									:max="item.max"
									:label="item.name"
									:disabled="disabled || item.immutable"
								>
								</el-input-number>
								<el-date-picker
									v-if="item.type === 'date'"
									v-model="form[field]"
									type="date"
									style="width: 30%;"
									:placeholder="item.placeholder"
									:disabled="disabled || item.immutable"
								/>
								<el-date-picker
									v-if="item.type === 'daterange'"
									v-model="form[field]"
									type="daterange"
									style="width: 30%;"
									:placeholder="item.placeholder"
									:disabled="disabled || item.immutable"
								/>
								<el-date-picker
									v-if="item.type === 'datetime'"
									v-model="form[field]"
									type="datetime"
									style="width: 30%;"
									:placeholder="item.placeholder"
									:disabled="disabled || item.immutable"
								/>
								<el-date-picker
									v-if="item.type === 'datetimerange'"
									v-model="form[field]"
									type="datetimerange"
									style="width: 30%;"
									:placeholder="item.placeholder"
									:disabled="disabled || item.immutable"
								/>
								<el-switch
									v-if="
										(item.type === 'boolean' &&
											!item.shape) ||
											(item.type === 'boolean' &&
												item.shape === 'switch')
									"
									v-model="form[item.id]"
									:disabled="item.immutable"
								/>
								<el-checkbox
									v-if="
										item.type === 'boolean' &&
											item.shape === 'checkbox'
									"
									v-model="form[item.id]"
									:disabled="disabled || item.immutable"
								></el-checkbox>
								<el-checkbox-group
									v-if="item.type === 'multichoice'"
									v-model="form[field]"
									:disabled="disabled || item.immutable"
								>
									<el-checkbox
										v-for="(opt, index) in item.option"
										:key="`${field}-option-${index}`"
										:label="opt.value"
									>
										{{ opt.text }}
									</el-checkbox>
								</el-checkbox-group>

								<el-cascader
									v-if="item.type === 'twzipcode'"
									v-model="form[field]"
									:options="counties_and_cities_of_taiwan"
									:name="field"
									:placeholder="item.placeholder"
									:disabled="disabled || item.immutable"
								></el-cascader>

								<el-upload
									v-if="item.type === 'upload'"
									:action="upload_path(field)"
									:on-success="
										(response, file) => {
											uploadSuccess(
												response,
												file,
												field
											);
										}
									"
									list-type="picture-card"
									:before-remove="handleBeforeRemove"
									:on-remove="
										(file, fileList) => {
											handleRemoveFile(
												file,
												fileList,
												field
											);
										}
									"
									:on-preview="
										file =>
											handlerClickFile(
												file,
												field,
												item.immutable
											)
									"
									:file-list="trans_file_list(field)"
									:auto-upload="true"
									:disabled="disabled || item.immutable"
								>
									<i class="el-icon-plus"></i>
								</el-upload>
								<div v-if="item.type === 'statement'">
									<el-input
										type="textarea"
										rows="5"
										v-model="item.desc"
										disabled="false"
									/>
									<el-switch
										v-model="form[field]"
										:active-text="item.active_text"
										:inactive-text="item.inactive_text"
										:disabled="disabled || item.immutable"
									/>
								</div>

								<el-input
									v-if="item.type === 'float'"
									v-model="form[field]"
									:name="field"
									:disabled="disabled || item.immutable"
									:decimal_places="item.decimal_places"
									v-on:change="changeForm(field)"
								/>
							</el-form-item>

							<el-form-item
								v-if="item.type === 'password'"
								:label="`confirm ${item.name}`"
								:key="`item${field}`"
								:for="`_confirm_${field}`"
								:prop="`_confirm_${field}`"
							>
								<el-input
									type="password"
									v-model="form[`_confirm_${field}`]"
									:name="`_confirm_${field}`"
								/>
							</el-form-item>
						</div>
					</el-col>
				</template>
			</el-row>

			<el-dialog :visible.sync="dialogVisible">
				<img width="100%" :src="file.url" alt="" />
				<el-input
					placeholder= "{{ $t('message.input_name') }}"
					v-model="new_name"
					:disabled="disabled || file_disabled"
				>
				</el-input>
				<el-row :gutter="20">
					<el-button
						v-if="!disabled && !file_disabled"
						type="primary"
						@click="save_file_name()"
						>{{ $t('message.change_file_name') }}</el-button
					>
					<el-button type="primary" @click="download_file()"
						>{{ $t('message.download') }}</el-button
					>
					<a
						id="download"
						:href="file.url"
						:download="file.name"
						hidden
					></a>
				</el-row>
			</el-dialog>
		</el-form>
	</div>
</template>

<script>
import axios from 'axios';
import twzipcode from 'twzipcode-data';
export default {
	props: ['params'],
	components: {},
	data() {
		return {
			file: {},
			new_name: '',
			dialogVisible: false,
			file_disabled: false,
			file_field: ''
		};
	},
	computed: {
		sub_index: function() {
			if (this.params && typeof this.params.sub_index !== 'undefined') {
				return this.params.sub_index;
			} else {
				return false;
			}
		},
		form_name: function() {
			if (this.params && this.params.form_name) {
				return this.params.form_name;
			} else {
				return false;
			}
		},
		onChange: function() {
			if (this.params && this.params.onChange) {
				return this.params.onChange;
			} else {
				return false;
			}
		},
		field_id: function() {
			if (this.params && this.params.field_id) {
				return this.params.field_id;
			} else {
				return '';
			}
		},
		form: function() {
			if (this.params && this.params.form) {
				return this.params.form;
			} else {
				return {};
			}
		},
		fields: function() {
			if (this.params && this.params.fields) {
				// console.log('sub fields');
				// console.log(this.params.fields);
				return this.params.fields;
			} else {
				return {};
			}
		},
		showEditColor: function() {
			if (this.params && this.params.showEditColor) {
				return this.params.showEditColor;
			} else {
				return false;
			}
		},
		original_data: function() {
			if (this.params && this.params.original_data) {
				return this.params.original_data;
			} else {
				return false;
			}
		},
		new_data: function() {
			if (this.params && this.params.new_data) {
				return this.params.new_data;
			} else {
				return false;
			}
		},
		rules: function() {
			let rules = {};
			let f_decimal_places = 2;

			var validatePass = (rule, value, callback) => {
				if (value === '') {
					callback(new Error(this.$t('message.input_again')));
				} else if (value !== this.form.password) {
					// eslint-disable-next-line prettier/prettier
					callback(new Error(this.$t('message.psw_not_match')));
				} else {
					callback();
				}
			};
			var validateStatement = (rule, value, callback) => {
				if (!value || value === false) {
					callback(new Error(this.$t('message.sel_statement')));
				} else {
					callback();
				}
			};
			var validatefloat = (rule, value, callback) => {
				var r = new RegExp(
					'^[0-9]+(.[0-9]{1,' + f_decimal_places + '})?$'
				);
				if (r.test(value)) callback();
				else callback(new Error(this.$t('message.error')));
			};
			if (this.params && this.params.rules) {
				rules = this.params.rules;
				let rule_data = {};
				if (Object.keys(this.fields).length === 0) {
					return rules;
				}
				// console.log('this.fields = ');
				// console.log(this.fields);
				for (let sub_field in this.fields) {
					let field = this.fields[sub_field];
					field.id = sub_field;
					// this.fields.forEach(field => {
					let field_type = field.type;
					let rulesArray = [];

					if (
						field.required &&
						!field.immutable &&
						field.type !== 'password'
					)
						rulesArray.push({
							required: field.required,
							message: this.$t('message.please_input') + ` ${field.name}`
						});
					if (field_type === 'number')
						rulesArray.push({
							type: 'number',
							message: this.$t('message.please_input') + this.$t('message.number')
						});
					if (field_type === 'statement' && field.need_true)
						rulesArray.push({
							message: field.error_message,
							validator: validateStatement
						});
					if (field_type === 'float') {
						if (
							!(
								field.decimal_places === null ||
								typeof field.decimal_places === 'undefined' ||
								field.decimal_places <= 0
							)
						)
							f_decimal_places = field.decimal_places;

						rulesArray.push({
							message: this.$t('message.please_input') + ' ' + f_decimal_places + ' ' + this.$t('message.decimal_places'),
							validator: validatefloat
						});
					}
					if (field.id === 'email')
						rulesArray.push({
							type: 'email',
							message: this.$t('message.please_input') + this.$t('message.correct')+ this.$t('message.email_address')
						});
					if (field.id === 'password') {
						let confirmRules = [
							...rulesArray,
							{ validator: validatePass, trigger: 'blur' }
						];
						rule_data[`_confirm_${field.id}`] = confirmRules;
					}
					if (field.validation) {
						if (typeof field.validation.pattern === 'string') {
							field.validation.pattern = field.validation.pattern
								.split('/')
								.filter(param => !!param);
							rulesArray.push({
								pattern: new RegExp(
									...field.validation.pattern
								),
								message: field.validation.message,
								trigger: field.validation.trigger || 'change'
							});
						}
					}
					if (field.validator) {
						let rule = null;
						eval('rule = ' + field.validator);
						rulesArray.push(rule);
					}
					rule_data[field.id] = rulesArray;
				}

				for (let key in rule_data) {
					if (rules[key]) continue;
					rules[key] = rule_data[key];
				}
				for (let key in rules) {
					for (let rule of rules[key]) {
						if (rule.validator) {
							rule.validator = eval(rule.validator);
						}
					}
				}

				return rules;
			} else {
				return rules;
			}
		},
		disabled: function() {
			if (this.params && this.params.disabled) {
				return this.params.disabled;
			} else {
				return false;
			}
		},
		record_id: function() {
			if (this.params && this.params.record_id) {
				return this.params.record_id;
			} else {
				return '';
			}
		},
		para: function() {
			if (this.params && this.params.para) {
				return this.params.para;
			} else {
				return {};
			}
		},
		counties_and_cities_of_taiwan: function() {
			let data = twzipcode();
			let temp = [];

			for (let zipcode of data.zipcodes) {
				let country = temp.find(
					element => element.label === zipcode.county
				);
				if (!country) {
					temp.push({
						value: zipcode.county,
						label: zipcode.county,
						children: [
							{
								value: zipcode.city,
								label: zipcode.city
							}
						]
					});
				} else {
					country.children.push({
						value: zipcode.city,
						label: zipcode.city
					});
				}
			}
			return temp;
		}
	},
	created() {},
	methods: {
		upload_path(field) {
			// console.log('this.para ====');
			// console.log(this.para.copy_value);
			// console.log(this.record_id);
			// if it's a brand new upload
			if (this.record_id === '' || this.para.copy_value === true) {
				return `/api/flexform_upload/${this.form_name}/${field}`;
			} else {
				// upload as part of an existing record
				return `/api/flexform_upload/${this.form_name}/${field}/${this.record_id}/${this.sub_index}`;
			}
		},
		validate() {
			let vm = this;
			return new Promise(function(resolve) {
				vm.$refs.form.validate(valid => {
					resolve(valid);
				});
			});
		},
		getForms() {
			let form = this.form;
			return new Promise(function(resolve) {
				resolve(form);
			});
		},
		clear() {},
		trans_file_list(field) {
			let files = this.form[field] || [];
			return files;
		},
		handleBeforeRemove(file, fileList) {
			return this.$confirm(this.$t('message.confirm_del') + ` ${file.name}？`);
		},
		handleRemoveFile(file, fileList, field) {
			axios
				.get(
					`/api/flexform_delete/${this.form_name}/${field}/${this.record_id}/${file.file_name}`
				)
				.then(response => {
					if (this.form[field] != undefined) {

						const file_index = this.form[field].findIndex(x => x.file_name == file.file_name);
						if (file_index != -1) {
							this.form[field].splice(file_index, 1);
						}
					}
					this.$message({
						type: 'success',
						message: this.$t('message.delete_success')
					});
				});
		},
		uploadSuccess(response, file, field) {
			if (!this.form[field]) {
				this.form[field] = [];
			}
			this.form[field].push(file);
			// console.log('this.form[field]');
			// console.log(this.form[field]);
			file.file_name = response.file_name;
		},
		save_file_name() {
			axios
				.post('/flowapi/EditFileName', {
					form_name: this.form_name,
					field: this.file_field,
					record_id: this.record_id,
					file_name: this.file.file_name,
					new_name: this.new_name
				})
				.then(response => {
					this.file.name = this.new_name;
					this.$message({
						type: 'success',
						message: this.$t('message.change_file_name') + this.$t('message.fail')
					});
				})
				.catch(error => {
					console.error(error.response.data);
				});
		},
		handlerClickFile(file, field, disable) {
			this.dialogVisible = true;
			this.file = file;
			this.new_name = file.name;
			this.file_disabled = disable;
			this.file_field = field;
		},
		download_file() {
			document.getElementById('download').click();
		},
		removeArrayItem(itemId, arrayIndex) {
			this.form[itemId].splice(arrayIndex, 1);
		},
		addArrayItem(itemId, type) {
			let newElement = null;
			if (type === 'string') {
				newElement = '';
			} else if (type === 'number') {
				newElement = 0;
			}
			this.form[itemId].push(newElement);
		},
		changeForm(field) {
			if (this.onChange) {
				this.$emit('changeSubForm', { field_id: this.field_id, field });
			}
		},
		resetFields() {
			let vm = this;
			return new Promise(function(resolve, reject) {
				// console.log('sub form vm = ');
				// console.log(vm.fields[i]);
				vm.$refs.form.resetFields();
				for (var i in vm.fields) {
					if (vm.fields[i].onChange) {
						vm.changeForm(vm.fields[i].id);
					}
				}
				resolve();
			});
		}
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.sub_model {
	padding: 20px;
	border: 1px solid #d7dae2;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
	margin: 10px;
}
.close-sub-model {
	margin-left: 95%;
	margin-bottom: 5px;
}
.sub_model .el-form-item {
	margin-bottom: 22px;
}
.bg_modify {
	background: #e1f3d8;
}
</style>
