<% layout('template/common') %>
<% block('title').append('<title>課程管理</title>') %>

	
<%
SR.API.QUERY_FORM(para.form_query, function (err, data) {
	if (err) {
		LOG.warn(err);
		return ;
	}
	var flextable_data = SR.API.flexform_to_flexform_table({form: data});
	for (var i in hide) 
		for (var j in flextable_data.field)
			if (hide[i] === flextable_data.field[j].id) {
				flextable_data.field.splice(j, 1);
				break;
			}
	for (var i in para.add_field) 
		if (para.add_field[i].type === 'button') {
			var position = (para.add_field[i].position ? para.add_field[i].position : flextable_data.field.length);
			var add_value = [];
			// for (var j in flextable_data.data) {
			// 	// var temp = '<button id="'+para.add_field[i].btn_id+'" class="btn btn-primary" onClick="'+para.add_field[i].func_name+'(';
			// 	// var first = true;
			// 	// for (var k in para.add_field[i].value) {
			// 	// 	if (first) {
			// 	// 		temp += ', ';
			// 	// 		first = false;
			// 	// 	}
			// 	// 	temp += '\''+ flextable_data.data[i][para.add_field[i].value[k]] +'\'';
			// 	// }
			// 	// temp += ')">'+para.add_field[i].field_name+'</button>';
			// 	// add_value.push(temp);
			// }
		}
	
	
});
%>
	
<script>
<% var f = encodeURIComponent(JSON.stringify(flextable_data)); %>
var flextable_data = JSON.parse(decodeURIComponent("<%-f %>"));

<% var f2 = encodeURIComponent(JSON.stringify(para)); %>
var para = JSON.parse(decodeURIComponent("<%-f2 %>"));
	
var onConnect = function () {
	console.log(para)
	init_html();
}

var init_html = function() {
	var html = '';

	html += flexform_show_table( flextable_data ) ;
	document.getElementById('table_area').innerHTML = html;
}

</script>

<section id="four" class="wrapper style2 special" style="display: flex; justify-content: center;">
	<div class="inner">
		<div id="table_area"></div>

	</div>


</section>