<template>
	<div class="dashboard-container">
		<!-- <div class="dashboard-text">name:{{ name }}</div> -->
		<!-- <div class="dashboard-text">roles:<span v-for="role in roles" :key="role">{{ role }}</span></div> -->
		<!-- <flexform :formItems="formItems" :params="params"></flexform> -->
		
		<el-collapse v-model="activeNames" @change="handleChange">
			<el-collapse-item title="Info" name="1">
			<template v-for="index in list.length">
				<el-row>
					<div v-if=" list[index-1].name === 'info' ">
						<el-row>
							<el-col :span="12"><div class="grid-content bg-purple-dark">Account</div></el-col>
							<el-col :span="3"><div class="grid-content bg-purple">{{ list[index-1].onData }}</div></el-col>
						</el-row>
					</div>
					<div v-else-if=" list[index-1].name === 'stats' ">
						<el-row>
							<el-col :span="10"><div class="grid-content bg-purple">{{ list[index-1].desc }}</div></el-col>
							<el-col :span="5"><div class="grid-content bg-purple-light">{{ list[index-1].onData }}</div></el-col>
							<!-- <el-col :span="8"><div class="grid-content bg-purple-dark">{{ list[index-1].data }}</div></el-col> -->
							<!-- <el-col :span="5"><div class="grid-content bg-purple">{{ list[index-1].type }}</div></el-col> -->
						</el-row>
						<FlowList
							:params1="{
								data: list[index-1].data,
								name: list[index-1].name,
								type: list[index-1].type,
							}"
						></FlowList>
					</div>
				</el-row>
			</template>
			</el-collapse-item>
		</el-collapse>
		<div v-if="chartDisplay" class="dashboard-chart">
			<h3>Demo bar chart</h3>
			<bar-chart
				:chartData="arrPositive" 
				:options="chartOptions" 
				:chartColors="positiveChartColors" 
				label="Positive">
			</bar-chart>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import flexform from '@/components/Flexform.vue';
import FlowList from '@/views/sf_flow_list';
import List from '@/views/sf_list';
import axios from 'axios';
import BarChart from '@/components/BarChart';
import moment from 'moment';

export default {
	name: 'Dashboard',
	components: {
		flexform,
		FlowList,
		List,
		BarChart
	},
	data: function() {
		return {
			fields: {},
			formItems: [],
			params: {},
			page: '',
			num: '',
			listLen: '',
			activeNames: ['1'],
			data: null,
			name: null,
			type: null,
			_type: [],
			desc: '',
			list: [],
			chartDisplay: false,
			arrPositive: [],
			positiveChartColors: {
				borderColor: "#077187",
				pointBorderColor: "#0E1428",
				pointBackgroundColor: "#AFD6AC",
				backgroundColor: "#74A57F"
			},
			chartOptions: {
				scales: {
					yAxes: [{
					ticks: {
						beginAtZero: true
					},
					gridLines: {
						display: true
					}
					}],
					xAxes: [{
					gridLines: {
						display: false
					}
					}]
				},
				legend: {
					display: true
				},
				responsive: true,
				maintainAspecRatio: false
			}
		};
	},
	created() {
		let url;
		if (this.$route.meta.schemaUrl != undefined) {
			url = this.$route.meta.schemaUrl
		}
		if (this.$route.meta == undefined || this.$route.meta.schemaUrl == undefined) {
			url = `/api/dashboard`;
		} 
		console.log(url);
		axios.get(url)
			.then(res => {
				this.fields = res.data.data.fields;
				console.log('route' + this.$route.path.split('/')[1])
				console.log(this.$route)
				Object.keys(res.data.data.fields).forEach(key => {
					if (res.data.data.fields[key].name === 'info') {
						this.list.push({
							name: res.data.data.fields[key].name,
							onData: res.data.data.fields[key].onData
						})
					}
					if (res.data.data.fields[key].name === 'stats') {
						console.log(typeof(res.data.data.fields[key].onData))
						for(let i = 0; i < res.data.data.fields[key].stage.length; i++ ){
							axios.post('/flowapi/GET_FLOW_LIST', {
								flow_name: res.data.data.fields[key].data,
								status: res.data.data.fields[key].stage[i]
							})
							.then(response => {
								this.num = response.data.list.length
								this.data = res.data.data.fields[key].data
								this.name = res.data.data.fields[key].name
								this.type = res.data.data.fields[key].stage[i]
								this.desc = res.data.data.fields[key].desc
								this.list.push({
									data: this.data,
									name: this.name,
									type: this.type,
									applications: this.num,
									onData: res.data.data.fields[key].onData,
									desc: this.desc					
								})
							})
						}	
					}
				})	
				console.log(this.list)
				axios.get("https://api.covidtracking.com/v1/us/daily.json")
					.then(res1 => {
						let data = res1.data
						console.log(data)
						data.forEach(d => {
							if (d.date > 20200910) {
								const date = moment(d.date, "YYYYMMDD").format("MM/DD");
								const {
									positive
								} = d;

								this.arrPositive.push({date, total: positive});
							}
						})
						console.log(this.arrPositive);
					})
				
				return res.data;
			})
			.then(json => {
				this.formItems = json.formItems;
				this.params = json.params;
				this.page = json.page;
			});
	},
	computed: {
		schemaUrl: function() {
			let defaultUrl = '/api/' + this.$route.path.split('/')[1];
			return this.$route.meta
				? this.$route.meta.schemaUrl
					? this.$route.meta.schemaUrl
					: defaultUrl
				: defaultUrl;
		},
	},
	methods: {
		handleChange(val) {
			console.log(val)
		},
		fetchData() {
			for (let item of this.$route.matched) {
				if (this.$route.path === item.path && item.props) {
					let props = item.props.default;
					if (props && props.edit) {
						this.edit = true;
					}
				}
			}
		},
		changeForm(id, sub_field) {
			let field = this.fields.find(ele => ele.id === id);
			if (field.onChange) {
				let onChangeFunction = eval(field.onChange);
				onChangeFunction(this.form);
			}
		} 
	},
	computed: {
		...mapGetters(['name', 'roles'])
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
	&-chart {
		margin-top: 50px;
		margin-right: 130px;
	}
}
.el-row {
    margin: 10px 100px 10px 20px;
    &:last-child {
      margin-bottom: 0;
    }
}
.el-col {
    border-radius: 4px;
	text-align: center;
}
.bg-purple-dark {
    background: #99a9bf;
}
.bg-purple {
    background: #d3dce6;
}
.bg-purple-light {
    background: #e5e9f2;
}
.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}
.el-collapse{
	margin-right: 150px;
}
.el-collapse-item {
	border-radius: 4px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	text-align: left;
}
.el-table {
	margin: 0px 50px 0px 20px;
}
</style>
