<% layout('template/common') %>
<% block('title').append('<title>'+(typeof(title)!=='undefined' ? title : 'List')+'</title>') %>
	
<script src="/web/flexform/jquery.tagsinput.js"></script>


<script>
<%
var f1 = encodeURIComponent(JSON.stringify(para));
var forms = [];
var error = false;
var error_message = '';
for (var i in para)	{
	SR.API.QUERY_FORM( para[i].form_query, function (err, form) {
		if (err) {
			error = true;
			error_message = err;
			return err;
		}
		forms.push(form);
		var related_form_count = 0;
		for (var j in para[i].related_form){
			SR.API.QUERY_FORM( para[i].related_form[j].form_query, function (err, form) {
				if (err) {
					error = true;
					error_message = err;
					return err;
				}
				forms.push(form);
				related_form_count++;
				if (related_form_count === para[i].related_form.length) {
					var f2 = encodeURIComponent(JSON.stringify(forms));
					%> 
						var para = JSON.parse(decodeURIComponent("<%-f1 %>")); 
						var forms = JSON.parse(decodeURIComponent("<%-f2 %>")); 
						var use_page = 0;
					<%
				}
			});
		}
	});
}
%>
	
var onConnect = function () {
	console.log('para = ');
	console.log(para);
	console.log('forms = ');
	console.log(forms);
	
	init_html(function(err, html){
		document.getElementById('sub_title').innerHTML = para[use_page].s_title;
		document.getElementById('form_area').innerHTML = html;	
		if (typeof(date_pickers) !== 'undefined') {
			for (var i=0; i < date_pickers.length; i++) {
				$(function() {
					$("#" + date_pickers[i]).datepicker(datepicker_setting);
				});
			}
		}
		$('.tags').tagsInput();
		init_submit_btn();
	});
}

function init_html(onDone) {
	var html = '';	
	for (var i in forms) {
		if (i !== '0'){
			html += '<hr>'
		}
		var form_para = {};
		if (typeof(para[use_page].customized)!=='undefined' && para[use_page].customized) {
			form_para.customized = para[use_page].customized;
		}
		if (para[use_page].mode === 'show') {
			form_para.write = false;
		} else {
			form_para.write = true;
		}
		html += create_table_v3(forms[i], form_para);
	}
	
	return onDone(null, html);
}
		
function init_submit_btn() {
	document.getElementById('button_area').innerHTML = 	'<button class="btn btn-primary" onClick="">送出</button>';
}

</script>

<div id="container">
	<%	if (typeof nav !== 'undefined') { %>
		<% include nav %>
	<% } %>

	<div id="mainContent">
		<section id="three" class="wrapper style2 special">
			<div class="inner">
				<h2 id='sub_title'></h2>
				<div id="form_area"></div>
				<div id="button_area"></div>
			</div>
		</section>
	</div>
</div>
