<style>
	#container {
		display: flex
	}

	#mainContent {
		flex: 1
	}

	#navContainer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.navList {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 160px;
	}

	.navItem {
		padding-left: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	}

	.navItem__link {
		display: block;
		color: #fff !important;
		font-size: 18px;
		padding: 8px 16px;
		text-decoration: none;
	}

	/* Change the link color on hover */
	.navItem__link:hover {
		background-color: rgba(255, 255, 255, 0.05);
	}
</style>
<section id="navContainer" class="wrapper style2">
	<ul class="navList">
		<% nav.forEach(function (navObj) { %>
			<li class="navItem">
				<a class="navItem__link" href="<%= navObj.link %>"><%= navObj.name %></a>
			</li>
		<% }) %>
	</ul>
</section>
