<template>
	<div class="app-container" v-loading="loading">
		<SFTitle :params="{ text: title, level: 2 }">{test_text}</SFTitle>
		<Update
			ref="query_form"
			:params="{
				title: '',
				form_name,
				hide_submit: true,
			}"
		></Update>
		<el-button type="primary" @click="onSubmit()">{{ $t('message.submit') }}</el-button>
	</div>
</template>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import SFTitle from '@/components/SFTitle.vue';
import Update from '@/views/sf_update';
export default {
	name: 'Dashboard',
	components: {
		SFTitle,
		Update,
	},
	data: function () {
		return {
			form_name: '',
			title: '',
			test_text: '',
		};
	},
	created() {
		console.log('created');
		console.log(this.$route.meta);
		this.form_name = this.$route.meta.form_name;
		this.test_text = this.$route.meta.test_text;
		console.log(this.form_name);
	},
	mounted() {},
	computed: {
		...mapGetters(['roles']),
	},
	methods: {
		onSubmit() {
			console.log('click submit');
			this.$refs['query_form'].getForms().then((form) => {
				console.log(form);
			});
		},
	},
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
}
</style>
