<template>
	<div class="register-container">
		<el-form
			ref="registerForm"
			:model="registerForm"
			:rules="registerRules"
			class="register-form"
			auto-complete="on"
			label-position="left"
		>
			<h3 class="title">Register</h3>
			<el-form-item prop="account">
				<span class="svg-container">
					<svg-icon icon-class="user" />
				</span>
				<el-input
					v-model="registerForm.account"
					name="account"
					type="text"
					auto-complete="on"
					placeholder="account"
				/>
			</el-form-item>
			<el-form-item prop="password">
				<span class="svg-container">
					<svg-icon icon-class="password" />
				</span>
				<el-input
					:type="pwdType"
					v-model="registerForm.password"
					name="password"
					auto-complete="on"
					placeholder="password"
					@keyup.enter.native="handleRegister"
				/>
				<span class="show-pwd" @click="showPwd">
					<svg-icon
						:icon-class="
							pwdType === 'password' ? 'eye' : 'eye-open'
						"
					/>
				</span>
			</el-form-item>
			<el-form-item prop="email">
				<span class="svg-container">
					<svg-icon icon-class="email" />
				</span>
				<el-input
					v-model="registerForm.email"
					name="email"
					type="text"
					auto-complete="on"
					placeholder="email"
				/>
			</el-form-item>
			<el-form-item>
				<el-button
					:loading="loading"
					type="primary"
					style="width:100%;"
					@click.native.prevent="handleRegister"
				>
					Sign up
				</el-button>
			</el-form-item>
			<div class="tips">
				<span style="margin-right:20px;"></span>
				<span></span>
			</div>
		</el-form>
	</div>
</template>

<script>
import { isvalidUsername } from '@/utils/validate';

export default {
	name: 'Register',
	data() {
		const validateUsername = (rule, value, callback) => {
			if (!isvalidUsername(value)) {
				callback(new Error('请输入正确的用户名'));
			} else {
				callback();
			}
		};
		const validatePass = (rule, value, callback) => {
			if (value.length < 1) {
				callback(new Error('密码不能小于1位'));
			} else {
				callback();
			}
		};
		return {
			registerForm: {
				account: '',
				password: '',
				email: ''
			},
			registerRules: {
				account: [
					{
						required: true,
						trigger: 'blur',
						validator: validateUsername
					}
				],
				password: [
					{ required: true, trigger: 'blur', validator: validatePass }
				]
			},
			loading: false,
			pwdType: 'password',
			redirect: undefined
		};
	},
	watch: {
		$route: {
			handler: function(route) {
				this.redirect = route.query && route.query.redirect;
			},
			immediate: true
		}
	},
	methods: {
		showPwd() {
			if (this.pwdType === 'password') {
				this.pwdType = '';
			} else {
				this.pwdType = 'password';
			}
		},
		handleRegister() {
			this.$refs.registerForm.validate(valid => {
				if (valid) {
					this.loading = true;
					// this.$store
					// 	.dispatch('Register', this.registerForm)
					// 	.then(() => {
					// 		this.loading = false;
					// 		this.$router.push({ path: this.redirect || '/' });
					// 	})
					// 	.catch(() => {
					// 		this.loading = false;
					// 	});
					this.$SR.API._ACCOUNT_REGISTER(
						this.registerForm,
						(err, result) => {
							this.loading = false;
							this.$router.push({
								path: this.redirect || '/login'
							});
						}
					);
				} else {
					console.log('error submit!!');
					return false;
				}
			});
		}
	}
};
</script>

<style rel="stylesheet/scss" lang="scss">
$bg: #2d3a4b;
$light_gray: #eee;

/* reset element-ui css */
.register-container {
	.el-input {
		display: inline-block;
		height: 47px;
		width: 85%;
		input {
			background: transparent;
			border: 0px;
			-webkit-appearance: none;
			border-radius: 0px;
			padding: 12px 5px 12px 15px;
			color: $light_gray;
			height: 47px;
			&:-webkit-autofill {
				-webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
				-webkit-text-fill-color: #fff !important;
			}
		}
	}
	.el-form-item {
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		color: #454545;
	}
}
</style>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;
.register-container {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: $bg;
	.register-form {
		position: absolute;
		left: 0;
		right: 0;
		width: 520px;
		max-width: 100%;
		padding: 35px 35px 15px 35px;
		margin: 120px auto;
	}
	.tips {
		font-size: 14px;
		color: #fff;
		margin-bottom: 10px;
		span {
			&:first-of-type {
				margin-right: 16px;
			}
		}
	}
	.svg-container {
		padding: 6px 5px 6px 15px;
		color: $dark_gray;
		vertical-align: middle;
		width: 30px;
		display: inline-block;
	}
	.title {
		font-size: 26px;
		font-weight: 400;
		color: $light_gray;
		margin: 0px auto 40px auto;
		text-align: center;
		font-weight: bold;
	}
	.show-pwd {
		position: absolute;
		right: 10px;
		top: 7px;
		font-size: 16px;
		color: $dark_gray;
		cursor: pointer;
		user-select: none;
	}
}
</style>
