<template>
	<div>
		<SFTitle :params="{ text: params.title, level: 1 }"></SFTitle>
		<component
			v-for="(item, index) in formItems"
			:key="`item${index}`"
			:is="item.type"
			:params="item.params || undefined"
			:formItems="item.formItems || undefined"
			:name="item.index"
			v-model="formData[index]"
			class="form-block"
		>
		</component>
	</div>
</template>

<script>
import SFLabel from './SF-label.vue';
import SFSelect from './SF-select.vue';
import SFText from './SF-inputText.vue';
import SFTitle from './SFTitle.vue';
import SFString from './SF-string.vue';

export default {
	components: {
		formLabel: SFLabel,
		selectbar: SFSelect,
		'input-text': SFText,
		SFTitle,
		string: SFString
	},
	props: ['formItems', 'params'],
	data: function() {
		return {
			componentsList: ['formLabel', 'selectbar', 'input-text'],
			formData: {}
		};
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
