<template>
	<div>
		<sf-label
			:label_text="params.label"
			:label_for="params.name || params.id"
		></sf-label>

		<input
			v-for="(item, index) in params.list"
			:key="index"
			type="radio"
			:name="params.name"
			:value="item.value"
		/>
		{{ item.value }}
		<br />
		<select :id="params.id" :name="params.name || params.id">
			<option
				v-for="(item, index) in params.list"
				:value="item.value"
				:key="index"
			>
				{{ item.value }}
			</option>
		</select>
	</div>
</template>

<script>
import sfLabel from './SF-label.vue';
export default {
	props: ['params'],
	components: {
		'sf-label': sfLabel
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
