<template>
	<div>
		<input
			type="password"
			:id="params.id"
			:value="params.value"
			:maxlength="params.maxlength"
			:minlength="params.minlength"
			:pattern="params.pattern"
			:placeholder="params.placeholder"
			:for="params.for"
			:readonly="params.readonly"
			:size="params.size"
		/>
	</div>
</template>

<script>
export default {
	props: ['params']
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
