<template>
	<label
		:for="params ? params.for : label_for"
		v-text="params ? params.text : label_text"
	>
	</label>
</template>

<script>
export default {
	props: ['params', 'label_text', 'label_for']
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
