<template>
	<select :id="params.id">
		<option v-if="params.unselected" selected disabled>Select</option>

		<option
			v-for="option in params.options"
			:value="option.value"
			:key="option.value"
			v-text="option.text || option.value"
			:selected="option.selected"
			:disabled="option.disabled"
		>
		</option>
	</select>
</template>

<script>
export default {
	props: ['params']
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
