<template>
	<textarea
		:id="params.id"
		:name="params.name"
		:placeholder="params.placeholder"
		:for="params.for"
		:readonly="params.readonly"
		:value="params.value"
	></textarea>
</template>

<script>
export default {
	props: ['params']
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
