<template>
	<div class="app-container" v-loading="loading">
		<SFTitle :params="{ text: title, level: 2 }"></SFTitle>

		<TabView
			ref="tab_forms"
			:params="{ forms_data, lock, unlock, shows, hidden, para }"
		></TabView>
		<div v-if="forms_data.length > 1">
			<el-button type="primary" @click="onSubmit('form')">{{ $t('message.create') }}</el-button>
			<el-button v-if="para.removeResetBtn === true" @click="onReset('form')">{{ $t('message.reset') }}</el-button>
		</div>
	</div>
</template>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import SFTitle from '@/components/SFTitle.vue';
import TabView from '@/views/sf_tab_view';
export default {
	name: 'Dashboard',
	components: {
		SFTitle,
		TabView
	},
	data: function() {
		return {
			tabPosition: 'left',
			title: '',
			// fields: {},
			page: '',
			form: {},
			api: {},
			rules: {},
			forms_data: [],
			lock: [],
			unlock: [],
			shows: [],
			hidden: [],
			loading: false,
			para: {
				removeResetBtn: true
			},
			include_forms: [],
		};
	},
	created() {
		axios
			.post('/flowapi/GET_FLOW_CREATE', {
				flow_name: this.flow_name
			})
			.then(response => {
				let data = response.data;
				this.forms_data = data.forms_data;
				// console.log('create flow forms_data = ');
				// console.log(data);
				// console.log(this.forms_data);
				this.title = data.title;

				let field_control = data.field_control;
				this.lock = field_control.lock;
				this.unlock = field_control.unlock;
				this.shows = field_control.shows;
				this.hidden = field_control.hidden;
				this.para.saveHistory = data.step.saveHistory;
				this.para.showHistory = data.step.showHistory;
				this.para.removeResetBtn = data.step.removeResetBtn;
				this.para.copy_value = data.copy_value;
				this.include_forms = data.include_forms;
			})
			.catch(error => {
				console.error(error.response.data);
				this.$alert(`${error.response.data}`, this.$t('message.error'), {
					type: 'warning',
					confirmButtonText: this.$t('message.ok')
				});
			});
	},
	mounted() {},
	computed: {
		...mapGetters(['roles']),
		flow_name: function() {
			let defaultUrl = this.$route.path.split('/')[1];
			return this.$route.meta
				? this.$route.meta.flow_name
					? this.$route.meta.flow_name
					: defaultUrl
				: defaultUrl;
		}
	},
	methods: {
		onSubmit() {
			this.loading = true;
			this.$refs.tab_forms.validate().then(success => {
				if (!success) {
					this.loading = false;
					return;
				}
				this.$refs.tab_forms.getForms().then(forms => {
					// console.log('this.include_forms ====');
					// console.log(this.include_forms);
					// console.log('tab_forms forms ====');
					// console.log(forms);
					axios
						.post('/flowapi/CREATE_FLOW', {
							name: this.flow_name,
							forms,
							include_forms: this.include_forms
						})
						.then(response => {
							let data = response.data;
							console.log('CREATE_FLOW done');
							// console.dir(this.$route.meta);
							// console.dir(this.$route.meta.afterSubmit);
							if (this.$route.meta.afterSubmit == 'clear') {
								this.$router.go(0);
							}

							this.resetForms();

							if (
								this.options.hasOwnProperty('actions') &&
								this.options.actions.hasOwnProperty('afterCreated' &&
								this.options.actions.afterCreated === 'last')
							) {
								this.$router.go(-1);
							} else {
								if (this.$route.meta.afterSubmit != undefined) {
									console.log(this.$route.meta);
									this.$router.push({
										path: this.$route.meta.afterSubmit
									});
									
								}
								this.$refs[formName].resetFields();
							}

							this.$message({
								message: this.$t('message.form_submit'),
								type: 'success'
							});
							this.loading = false;
						})
						.catch(error => {
							this.loading = false;
							if (error.response.data.unique_error) {
								let miss_form_name =
									error.response.data.form_name;
								let miss_form_name_label = this.forms_data.find(
									ele => ele.form === miss_form_name
								).label;
								let miss_fields = error.response.data.fields;
								let miss_fields_label = [];

								let fields = this.$refs.tab_forms.$refs[
									miss_form_name
								][0].fields;
								for (let miss_field of miss_fields) {
									miss_fields_label.push(
										fields.find(
											ele => ele.id === miss_field
										).name
									);
								}

								this.$alert(
									`${miss_form_name_label} ` + this.$t('message.inside') + ` ${miss_fields_label.toString()} ` + this.$t('message.same_data'),
									this.$t('message.error'),
									{
										type: 'warning',
										confirmButtonText: this.$t('message.ok')
									}
								);
							} else {
								console.log('create flow error');
								console.error(error.response.data);
							}
						});
				});
			});
		},
		onReset() {
			this.$confirm(this.$t('message.want_reset'), this.$t('message.warn'), {
				confirmButtonText: this.$t('message.yes'),
				cancelButtonText: this.$t('message.no'),
				type: 'warning'
			})
				.then(() => {
					this.resetForms();
				})
				.then(() => {
					this.$message({
						message: this.$t('message.reset') + '!',
						type: 'warning'
					});
				});
		},
		resetForms() {
			let vm = this;
			return new Promise(function(resolve) {
				vm.$refs.tab_forms.resetForms().then(() => {
					resolve();
				});
			});
		}
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
}
</style>
