<template>
	<div class="app-container">
		<SFTitle :params="{ text: '表單基本資料', level: 2 }"></SFTitle>
		<el-form
			ref="info"
			:inline="true"
			label-position="left"
			label-width="120px"
			class="form_info">
			<el-form-item label="狀態">
				<el-input
					:disabled="true"
					:value="title"></el-input>
			</el-form-item>
			<template v-for="item in header">
				<el-form-item
					:key='item.label'
					:label="item.label">
					<el-input
						:disabled="true"
						:value="item.value"></el-input>
			</template>
		</el-form>

		<SFTitle :params="{ text: '表單', level: 2 }"></SFTitle>
		<TabView 
			ref="tab_forms" 
			:params="{ 
				forms_data: form_names, 
				lock, 
				unlock, 
				shows, 
				hidden,
				lock_all: !editPermission,
				tab_index
			}"
		></TabView>

		<el-form
			v-if="editPermission"
			:model="review"
			:rules="rules"
			ref="form"
			label-position="left"
			label-width="120px"
		>
			<el-form-item label="送審選項" prop="option">
				<el-select v-model="review.option">
					<el-option
						v-for="opt in review_options"
						:key="`${opt}`"
						:label="opt"
						:value="opt"
					/>
				</el-select>
			</el-form-item>
			<el-form-item label="說明" prop="comment" v-if="show_comment === 'true'">
				<el-input
					type="textarea"
					:rows="5"
					placeholder="請輸入說明"
					v-model="review.comment"
				>
				</el-input>
			</el-form-item>
		</el-form>

		<div>
			<el-button
				v-if="editPermission"
				type="primary" @click="onUpdate('review')"
				>{{ $t('message.for_review') }}</el-button
			>
			<el-button
				v-if="editPermission"
				type="success" @click="onUpdate()"
				>{{ $t('message.update') }}</el-button
			>
			<el-button @click="onCancel()">{{ $t('message.cancel') }}</el-button>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import TabView from '@/views/sf_tab_view';
import SFTitle from '@/components/SFTitle.vue';

export default {
	props: ['params'],
	components: {
		TabView,
		SFTitle
	},
	filters: {},
	data() {
		return {
			editPermission: true,
			title: '',
			header: [],
			form_names: [],
			fields: {},
			form: {},
			lock: [],
			unlock: [],
			shows: [],
			hidden: [],
			review: {},
			review_options: [],
			tab_index: '0',
			show_comment: false,
		};
	},
	computed: {
		flow_record_id: function() {
			return this.$route.path.split('/')[4];
		},
		flow_name: function() {
			if (this.$route.query.flow_id) {
				return this.$route.query.flow_id;
			} else {
				return this.$route.path.split('/')[1];
			}
		},
		tab_display: function() {
			return this.$route.path.split('/')[5];
		}
	},
	created() {
		axios
			.post('/flowapi/GET_FLOW_STEP', {
				flow_name: this.flow_name,
				flow_record_id: this.flow_record_id
			})
			.then(response => {
				let data = response.data;
				let {
					forms,
					current_step,
					flow,
					header,
					editPermission,
					form_names,
					field_control
				} = data;
				let current_flow = flow.steps[current_step];
				console.log('GET_FLOW_STEP 1111');
				console.log(data);
				this.header = header;
				this.lock = field_control.lock;
				this.unlock = field_control.unlock;
				this.shows = field_control.shows;
				this.hidden = field_control.hidden;
			//	this.show_comment = field_control.show_comment;
				this.title = current_flow.title;
				this.review_options = current_flow.option;
				this.review = {
					option: current_flow.default_option || null
				};
				for (let item of form_names) {
					item.record_id = forms[item.form];
				}
				for (let i in form_names) {
					if (form_names[i].form === this.tab_display) {
						this.tab_index = i
					}
				}
				this.form_names = form_names;
				this.editPermission = editPermission;
			})
			.catch(error => {
				console.error(error.response.data);
			});
	},
	methods: {
		onUpdate(review) {
			new Promise((resolve, reject) => {
				this.$refs.tab_forms.validate().then(success => {
					if (!success) {
						return;
					}
					this.$refs.tab_forms.getForms().then(forms => {
						if (!this.review.option) {
							return reject(this.$t('message.sel_option'));
						}
						axios
							.post('/flowapi/FLOW_REVIEW', {
								flow_name: this.flow_name,
								flow_record_id: this.flow_record_id,
								forms,
								review: review ? this.review : null
							})
							.then(response => {
								this.$message({
									message: review ? this.$t('message.review_success') : this.$t('message.upd_success'),
									type: 'success'
								});
								this.$router.go(-1);
							})
							.catch(error => {
								if (error.response.data.unique_error) {
									let miss_form_name =
										error.response.data.form_name;
									let miss_form_name_label = this.form_names.find(
										ele => ele.form === miss_form_name
									).label;
									let miss_fields =
										error.response.data.fields;
									let miss_fields_label = [];

									let fields = this.$refs.tab_forms.$refs[
										miss_form_name
									][0].fields;
									for (let miss_field of miss_fields) {
										miss_fields_label.push(
											fields.find(
												ele => ele.id === miss_field
											).name
										);
									}

									this.$alert(
										`${miss_form_name_label} ` + this.$t('message.inside') + ` ${miss_fields_label.toString()} ` + this.$t('message.same_data'),
										this.$t('message.error'),
										{
											type: 'warning',
											confirmButtonText: this.$t('message.ok')
										}
									);
								} else {
									console.log('create flow error');
									console.error(error.response.data);
								}
							});
					});
				});
			}).catch(error => {
				this.$message({
					type: 'warning',
					message: error
				});
			});
		},
		onCancel() {
			this.$router.go(-1);
		}
	}
};
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
	[v-clock] {
		display: none;
	}
	.search-input{
		margin-bottom: 30px;
		width: 400px;
	}
	.edit_table {
		position: absolute;
		right: 35px;
	}
	.form_info {
		border-radius: 4px
	}
</style>