<template>
	<div class="app-container">
		<el-form
			class="el-form"
			:model="form"
			:rules="rules"
			ref="form"
			label-width="180px"
		>
			<el-row>
				<template v-for="(item, index) in fields">
					<el-col
						:span="item.span"
						:key="index"
						:class="item.class || ''"
					>
						<el-form-item
							v-show="item.show"
							:label="item.name"
							:key="`item${index}`"
							:for="item.id"
							:prop="item.id"
						>
							<el-input
								v-if="
									item.type === 'string' && !item.extendable
								"
								v-model="form[item.id]"
								:name="item.id"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
								v-on:change="changeForm(item.id)"
							/>
							<template v-if="item.extendable">
								<el-form-item
									v-for="(arrayItem, arrayIndex) in form[
										item.id
									]"
									:label="`${arrayIndex}`"
									:key="arrayIndex"
									label-width="50px"
								>
									<el-input
										style="width:70%; margin:5px"
										v-model="form[item.id][arrayIndex]"
									></el-input
									><el-button
										type="danger"
										plain
										style="margin-left:10px"
										@click.prevent="
											removeArrayItem(item.id, arrayIndex)
										"
										>-</el-button
									>
								</el-form-item>
								<el-form-item>
									<el-button
										@click="addArrayItem(item.id, item.type)"
										>+</el-button
									>
								</el-form-item>
							</template>
							<el-input
								v-if="item.type === 'email'"
								v-model="form[item.id]"
								:name="item.id"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-input
								v-if="item.type === 'textarea'"
								type="textarea"
								:rows="item.row || 3"
								v-model="form[item.id]"
								:name="item.id"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-input
								v-if="item.type === 'password'"
								type="password"
								v-model="form[item.id]"
								:name="item.id"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-input
								v-if="
									item.type === 'number' && !item.extendable
								"
								v-model.number="form[item.id]"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-select
								v-if="item.type === 'choice'"
								v-model="form[item.id]"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
								@change="changeForm(item.id)"
							>
								<el-option
									v-for="(opt, index) in item.option"
									:key="`${item.id}-option-${index}`"
									:label="opt.text"
									:value="opt.value"
								/>
							</el-select>

							<el-input-number
								v-if="item.type === 'number'"
								v-model="form[item.id]"
								:@change="item.handleChange"
								:min="item.min"
								:max="item.max"
								:label="item.name"
								:disabled="item.immutable"
							>
							</el-input-number>
							<el-date-picker
								v-if="item.type === 'date'"
								v-model="form[item.id]"
								type="date"
								style="width: 30%;"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-date-picker
								v-if="item.type === 'daterange'"
								v-model="form[item.id]"
								type="daterange"
								style="width: 30%;"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-date-picker
								v-if="item.type === 'datetime'"
								v-model="form[item.id]"
								type="datetime"
								style="width: 30%;"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-date-picker
								v-if="item.type === 'datetimerange'"
								v-model="form[item.id]"
								type="datetimerange"
								style="width: 30%;"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							/>
							<el-switch
								v-if="
									(item.type === 'boolean' && !item.shape) ||
										(item.type === 'boolean' &&
											item.shape === 'switch')
								"
								v-model="form[item.id]"
								:disabled="item.immutable"
							/>
							<el-checkbox
								v-if="
									item.type === 'boolean' &&
										item.shape === 'checkbox'
								"
								v-model="form[item.id]"
								:disabled="item.immutable"
								v-on:change="changeForm(item.id)"
							></el-checkbox>
							<el-checkbox-group
								v-if="item.type === 'multichoice'"
								v-model="form[item.id]"
								:disabled="item.immutable"
								:min="item.min"
								:max="item.max"
								@change="changeForm(item.id)"
							>
								<el-checkbox
									v-for="(opt, index) in item.option"
									:key="`${item.id}-option-${index}`"
									:label="opt.value"
								>
									{{ opt.text }}
								</el-checkbox>
							</el-checkbox-group>

							<el-cascader
								v-if="item.type === 'twzipcode'"
								v-model="form[item.id]"
								:options="counties_and_cities_of_taiwan"
								:name="item.id"
								:placeholder="item.placeholder"
								:disabled="item.immutable"
							></el-cascader>

							<el-upload
								v-if="item.type === 'upload'"
								:action="upload_path(item.id)"
								:on-success="
									(response, file) => {
										uploadSuccess(response, file, item.id);
									}
								"
								list-type="picture-card"
								:before-remove="handleBeforeRemove"
								:on-remove="
									(file, fileList) => {
										handleRemoveFile(
											file,
											fileList,
											item.id
										);
									}
								"
								:on-preview="
									file =>
										handlerClickFile(
											file,
											item.id,
											item.immutable
										)
								"
								:file-list="trans_file_list(item.id)"
								:auto-upload="true"
								:disabled="item.immutable"
							>
								<i class="el-icon-plus"></i>
							</el-upload>

							<div v-if="item.type === 'sub_model'">
								<div
									:key="index"
									v-for="(sub_item, index) in form[item.id]"
								>
									<div
										v-bind:class="{
											sub_model: true,
											bg_add:
												showEditColor &&
												sub_item._newData,
											bg_modify:
												showEditColor &&
												!sub_item._newData &&
												original_data &&
												original_data[item.id] &&
												//!sub_item._delete &&
												JSON.stringify(
													original_data[item.id][
														index
													]
												) !== JSON.stringify(sub_item),
											//bg_delete:
											//	showEditColor &&
											//	sub_item._delete
										}"
									>
										<el-collapse
											v-model="activeNames"
											accordion
										>
											<el-collapse-item
												:title="
													generate_collapse_title(
														item.id,
														index
													)
												"
												:name="item.id + index"
											>
												<el-button
													icon="el-icon-delete"
													class="close-sub-model"
													circle
													@click="
														removeSubmodel(
															item.id,
															index
														)
													"
													v-if="
														!item.immutable &&
															!item.forbid_delete
													"
												></el-button>

												<SubForm
													ref="subforms"
													:params="{
														sub_index: index,
														record_id,
														form_name,
														field_id: item.id,
														form: sub_item,
														fields: item.fields,
														para,
														onChange: item.onChange
															? true
															: false,
														rules: {},
														showEditColor: showEditColor,
														original_data: (original_data[item.id])
															? original_data[ item.id ][index]
															: {},
														new_data:
															sub_item._newData,
														disabled:
															item.immutable// ||
															//sub_item._delete
													}"
													v-on:changeSubForm="
														changeSubForm
													"
												></SubForm>
											</el-collapse-item>
										</el-collapse>
									</div>
								</div>
								<el-button
									@click="addSubmodel(item.id)"
									icon="el-icon-plus"
									v-if="!item.immutable"
									>{{ $t('message.add') }}</el-button
								>
							</div>

							<div
								v-if="
									(item.type === 'statement' &&
										!item.shape) ||
										(item.type === 'statement' &&
											item.shape === 'switch')
								"
							>
								<el-input
									type="textarea"
									rows="5"
									v-model="item.desc"
									readonly="true"
								/>
								<el-switch
									v-model="form[item.id]"
									:active-text="item.active_text"
									:inactive-text="item.inactive_text"
									:disabled="item.immutable"
								/>
							</div>
							<div
								v-if="
									item.type === 'statement' &&
										item.shape === 'checkbox'
								"
							>
								<el-input
									type="textarea"
									rows="5"
									v-model="item.desc"
									readonly="true"
								/>
								<el-checkbox
									v-model="form[item.id]"
									:disabled="item.immutable"
									:label="item.label"
								/>
							</div>
							<div
								v-if="
									item.type === 'statement' &&
										item.shape === 'multichoice'
								"
							>
								<el-input
									type="textarea"
									rows="5"
									v-model="item.desc"
									readonly="true"
								/>
								<el-checkbox-group
									v-model="item.shape"
									:min="item.min"
									:max="item.max"
								>
									<el-checkbox
										v-for="(opt, index) in item.option"
										:key="`${item.id}-option-${index}`"
										:label="opt.value"
									>
										{{ opt.text }}
									</el-checkbox>
								</el-checkbox-group>
							</div>
							<div
								v-if="
									item.type === 'statement' &&
										item.shape === 'radio'
								"
							>
								<el-input
									type="textarea"
									rows="5"
									v-model="item.desc"
									readonly="true"
								/>
								<el-radio-group v-model="form[item.id]">
									<el-radio
										v-for="(opt, index) in item.option"
										:key="`${item.id}-option-${index}`"
										:label="opt.value"
									>
										{{ opt.text }}
									</el-radio>
								</el-radio-group>
							</div>
							<el-input
								v-if="item.type === 'float'"
								v-model="form[item.id]"
								:name="item.id"
								:disabled="item.immutable"
								:decimal_places="item.decimal_places"
								v-on:change="changeForm(item.id)"
							/>
						</el-form-item>
						<el-form-item
							v-if="item.type === 'password'"
							:label="`confirm ${item.name}`"
							:key="`item${index}`"
							:for="`_confirm_${item.id}`"
							:prop="`_confirm_${item.id}`"
						>
							<el-input
								type="password"
								v-model="form[`_confirm_${item.id}`]"
								:name="`_confirm_${item.id}`"
							/>
						</el-form-item>
					</el-col>
				</template>
			</el-row>

			<el-dialog :visible.sync="dialogVisible">
				<img width="100%" :src="file.url" alt="" />
				<el-input
					placeholder= "{{ $t('message.input_name') }}"
					v-model="new_name"
					:disabled="file_disabled"
				>
				</el-input>
				<el-row :gutter="20">
					<el-button
						v-if="!file_disabled"
						type="primary"
						@click="save_file_name()"
						>{{ $t('message.change_file_name') }}</el-button
					>
					<el-button type="primary" @click="download_file()"
						>{{ $t('message.download') }}</el-button
					>
					<a
						id="download"
						:href="file.url"
						:download="file.name"
						hidden
					></a>
				</el-row>
			</el-dialog>
		</el-form>
	</div>
</template>

<script>
import axios from 'axios';
import twzipcode from 'twzipcode-data';
import SubForm from '@/views/sf_sub_form';

export default {
	props: ['params'],
	components: {
		SubForm
	},
	data() {
		return {
			file: {},
			new_name: '',
			dialogVisible: false,
			file_disabled: false,
			original_data: null,
			file_field: '',
			activeNames: []
		};
	},
	computed: {
		form_name: function() {
			if (this.params && this.params.form_name) {
				return this.params.form_name;
			} else {
				return '';
			}
		},
		form: function() {
			let form = {};
			if (this.params && this.params.form) {
				form = this.params.form;
				if (!this.original_data) {
					if (Object.keys(form).length !== 0) {
						// console.log('showHistory = ');
						// console.log(this.showHistory);
						if (this.showHistory && form._history) {
							// eslint-disable-next-line vue/no-side-effects-in-computed-properties
							this.original_data = JSON.parse(
								JSON.stringify(form._history)
							);
						} else {
							// eslint-disable-next-line vue/no-side-effects-in-computed-properties
							this.original_data = JSON.parse(
								JSON.stringify(form)
							);
						}
						// this.original_data should set once

						// 判斷內容是否有需要直接進行onChange呼叫
						for (let field in form) {
							let field_data = this.fields.find(
								ele => ele.id === field
							);
							if (!field_data) {
								continue;
							}

							// if (field_data.type === 'sub_model' && field_data.onChange) {
							if (field_data.onChange) {
								this.changeForm(field_data.id);
							}
						}
					}
				}
			}
			return form;
		},
		fields: function() {
			let fields = {};
			if (this.params && this.params.fields) {
				fields = this.params.fields;
			}
			if (fields.length > 0) {
				fields.forEach((item, index) => {
					if (
						JSON.stringify(this.form[item.id]) !==
						JSON.stringify(this.original_data[item.id])
					) {
						if (item.type === 'sub_model') {
							// item.class = 'bg_modify';
						} else if (this.showEditColor) {
							item.class = 'bg_modify';
						}
					} else {
						if (
							item.type === 'date' ||
							item.type === 'daterange' ||
							item.type === 'daterange' ||
							item.type === 'datetimerange'
						) {
							item.class = new Date();
						}
						item.class = '';
					}
				});
			}
			return fields;
		},
		saveHistory: function() {
			if (
				this.params &&
				this.params.para &&
				this.params.para.saveHistory
			) {
				return this.params.para.saveHistory;
			} else {
				return false;
			}
		},
		showHistory: function() {
			if (
				this.params &&
				this.params.para &&
				this.params.para.showHistory
			) {
				return this.params.para.showHistory;
			} else {
				return false;
			}
		},
		showEditColor: function() {
			if (this.saveHistory || this.showHistory) {
				return true;
			} else {
				return false;
			}
		},
		para: function() {
			if (this.params && this.params.para) {
				return this.params.para;
			} else {
				return {};
			}
		},
		rules: function() {
			let rules = {};
			let f_decimal_places = 2;

			var validatePass = (rule, value, callback) => {
				if (value === '') {
					callback(new Error(this.$t('message.input_again')));
				} else if (value !== this.form.password) {
					// eslint-disable-next-line prettier/prettier
					callback(new Error(this.$t('message.psw_not_match')));
				} else {
					callback();
				}
			};
			var validateStatement = (rule, value, callback) => {
				if (!value || value === false) {
					callback(new Error(this.$t('message.sel_statement')));
				} else {
					callback();
				}
			};
			var validatefloat = (rule, value, callback) => {
				var r = new RegExp(
					'^[0-9]+(.[0-9]{1,' + f_decimal_places + '})?$'
				);
				if (r.test(value)) callback();
				else callback(new Error(this.$t('message.error')));
			};
			if (this.params && this.params.rules) {
				rules = this.params.rules;
				let rule_data = {};
				if (Object.keys(this.fields).length === 0) {
					return rules;
				}
				this.fields.forEach(field => {
					let field_type = field.type;
					let rulesArray = [];
					if (
						field.required &&
						!field.immutable &&
						field.type !== 'password'
					)
						rulesArray.push({
							required: field.required,
							message: this.$t('message.please_input') + ` ${field.name}`
						});
					if (field_type === 'number')
						rulesArray.push({
							type: 'number',
							message: this.$t('message.please_input') + this.$t('message.number')
						});
					if (field_type === 'statement' && field.need_true)
						rulesArray.push({
							message: field.error_message,
							validator: validateStatement
						});
					if (field_type === 'float') {
						if (
							!(
								field.decimal_places === null ||
								typeof field.decimal_places === 'undefined' ||
								field.decimal_places <= 0
							)
						)
							f_decimal_places = field.decimal_places;

						rulesArray.push({
							message: this.$t('message.please_input') + ' ' + f_decimal_places + ' ' + this.$t('message.decimal_places'),
							validator: validatefloat
						});
					}
					if (field.id === 'email')
						rulesArray.push({
							type: 'email',
							message: this.$t('message.please_input') + this.$t('message.correct')+ this.$t('message.email_address')
						});
					if (field.id === 'password') {
						let confirmRules = [
							...rulesArray,
							{ validator: validatePass, trigger: 'blur' }
						];
						rule_data[`_confirm_${field.id}`] = confirmRules;
					}
					if (field.validation) {
						if (typeof field.validation.pattern === 'string') {
							field.validation.pattern = field.validation.pattern
								.split('/')
								.filter(param => !!param);
							rulesArray.push({
								pattern: new RegExp(
									...field.validation.pattern
								),
								message: field.validation.message,
								trigger: field.validation.trigger || 'change'
							});
						}
					}
					if (field.validator) {
						let rule = null;
						eval('rule = ' + field.validator);
						rulesArray.push(rule);
					}
					rule_data[field.id] = rulesArray;
				});

				for (let key in rule_data) {
					if (rules[key]) continue;
					rules[key] = rule_data[key];
				}
				for (let key in rules) {
					for (let rule of rules[key]) {
						if (rule.validator) {
							rule.validator = eval(rule.validator);
						}
					}
				}

				return rules;
			} else {
				return rules;
			}
		},
		record_id: function() {
			if (this.params && this.params.record_id) {
				return this.params.record_id;
			} else {
				return '';
			}
		},
		counties_and_cities_of_taiwan: function() {
			let data = twzipcode();
			let temp = [];

			for (let zipcode of data.zipcodes) {
				let country = temp.find(
					element => element.label === zipcode.county
				);
				if (!country) {
					temp.push({
						value: zipcode.county,
						label: zipcode.county,
						children: [
							{
								value: zipcode.city,
								label: zipcode.city
							}
						]
					});
				} else {
					country.children.push({
						value: zipcode.city,
						label: zipcode.city
					});
				}
			}
			return temp;
		}
	},
	created() {
		this.init();
	},
	methods: {
		init() {},
		validate() {
			let vm = this;
			let all_p = [];
			if (Array.isArray(this.$refs.subforms)) {
				for (let subform of this.$refs.subforms) {
					all_p.push(subform.validate());
				}
			}

			return new Promise(function(resolve) {
				Promise.all(all_p).then(result => {
					if (result.findIndex(ele => ele === false) !== -1) {
						resolve(false);
					}
					vm.$refs.form.validate(valid => {
						resolve(valid);
					});
				});
			});
		},
		getForms() {
			let form = JSON.parse(JSON.stringify(this.form));
			let { form_name, record_id, original_data } = this;
			if (record_id === '') {
				record_id = null;
			}
			// Filter out file
			// You can't get the location of the actual file save path.
			// The actual saving is performed in flexform_upload.
			for (let field in form) {
				let field_data = this.fields.find(ele => ele.id === field);
				if (!field_data) {
					continue;
				}
				if (field_data.type === 'upload' && record_id) {
					// 這邊刪除會造成其他流程申請時 create_flow 的values 不見，所以mark
					//delete form[field];
				}
				if (field_data.type === 'sub_model') {
					for (let i in form[field]) {
						let sub_data = form[field][i];
						// delete _newData flag
						if (sub_data._newData && !this.saveHistory) {
							delete sub_data._newData;
						}
						if (sub_data._delete /*&& !this.saveHistory*/) {
							form[field].splice(i, 1);
						}
					}
				}
			}
			return new Promise(function(resolve) {
				resolve({
					form_name,
					record_id,
					values: form,
					_history: original_data
				});
			});
		},
		resetFields() {
			let vm = this;
			return new Promise(function(resolve, reject) {
				// 因為 sub_model 內的資料沒有在 reset 時回復，所以暫時使用 reload()
				vm.$refs.form.resetFields();
				for (var i in vm.fields) {
					if (vm.fields[i].onChange) {
						vm.changeForm(vm.fields[i].id);
					}
				}
				// 				console.log('start to check vm.$refs.subforms');
				// 				console.log(vm.$refs.subforms);
				// 				if (typeof vm.$refs.subforms !== 'undefined')
				// 				{

				// 					//vm.$refs.subforms.resetFields();
				// 					for (var j in vm.$refs.subforms) {
				// 						if (vm.$refs.subforms[j].onChange) {
				// 							console.log('vm.$refs.subforms');
				// 							console.log(vm.$refs.subforms[j]);
				// 							changeSubForm(vm.$refs.subforms[j]);
				// 						}
				// 					}
				// 				}
				resolve();
			});
		},
		trans_file_list(field) {
			let files = this.form[field] || [];
			return files;
		},
		upload_path(field) {
			// console.log('this.para ====');
			// console.log(this.para.copy_value);
			// console.log(this.record_id);
			// if it's a brand new upload
			if (this.para.copy_value === true) {
				return `/api/flexform_upload/${this.form_name}/${field}`;
			} else {
				// upload as part of an existing record
				return `/api/flexform_upload/${this.form_name}/${field}/${this.record_id}`;
			}
		},
		handleBeforeRemove(file, fileList) {
			return this.$confirm(this.$t('message.confirm_del') + ` ${file.name}？`);
		},
		handleRemoveFile(file, fileList, field) {
			axios
				.get(
					`/api/flexform_delete/${this.form_name}/${field}/${this.record_id}/${file.file_name}`
				)
				.then(response => {

					if (this.form[field] != undefined) {
						const file_index = this.form[field].findIndex(x => x.file_name == file.file_name); // FIXME: the filename's parent is undefined after submit
						if (file_index != -1) {
							this.form[field].splice(file_index, 1);
						}
					}
					// this.form[field] = fileList; // FIXME: the fileList will cause an error that file cannot delete correctly

					this.$message({
						type: 'success',
						message: this.$t('message.delete_success')
					});
				});
		},
		uploadSuccess(response, file, field) {

			if (!this.form[field]) {
				this.form[field] = [];
			}

			this.form[field].push(file);

			file.file_name = response.file_name;
		},
		save_file_name() {
			axios
				.post('/flowapi/EditFileName', {
					form_name: this.form_name,
					field: this.file_field,
					record_id: this.record_id,
					file_name: this.file.file_name,
					new_name: this.new_name
				})
				.then(response => {
					this.file.name = this.new_name;
					this.$message({
						type: 'success',
						message: this.$t('message.change_file_name') + this.$t('message.success')
					});
				})
				.catch(error => {
					console.error(error.response.data);
				});
		},
		handlerClickFile(file, field, disable) {
			this.dialogVisible = true;
			this.file = file;
			this.new_name = file.name;
			this.file_disabled = disable;
			this.file_field = field;
		},
		download_file() {
			document.getElementById('download').click();
		},
		removeArrayItem(itemId, arrayIndex) {
			this.form[itemId].splice(arrayIndex, 1);
		},
		addArrayItem(itemId, type) {
			let newElement = null;
			if (type === 'string') {
				newElement = '';
			} else if (type === 'number') {
				newElement = 0;
			}
			this.form[itemId].push(newElement);
		},
		addSubmodel(field) {
			if (!this.form[field]) {
				this.form[field] = [];
			}
			let sub_fields = this.fields.find(ele => ele.id === field).fields;
			let temp = { _newData: true };
			for (let sub_field in sub_fields) {
				let sub_type = sub_fields[sub_field].type;
				if (['multichoice'].includes(sub_type)) {
					temp[sub_field] = [];
				} else {
					temp[sub_field] = '';
				}
			}
			this.form[field].push(temp);
			//  console.log('call addSubmodel');
			//  console.log(this.form[field]);
			// var l_index = this.form[field].length - 1;
			//  console.log(field+l_index);
			// this.activeName = [] ;
			// this.activeName.push(field+l_index);
		},
		removeSubmodel(field, id) {
			//let _delete = this.form[field][id]._delete;
			// if (!_delete)
			let message = '',
				success_message = '';

			//if (_delete) {
			//	message = this.$t('message.want_restore');
			//	success_message = this.$t('message.restore') + this.$t('message.success');
			//} else {
			//	message = this.$t('message.want_remove');
			//	success_message = this.$t('message.remove') + this.$t('message.success');
			//}

			message = this.$t('message.want_remove');
			success_message = this.$t('message.remove') + this.$t('message.success');
			this.$confirm(message, 'Warning', {
				confirmButtonText: this.$t('message.yes'),
				cancelButtonText: this.$t('message.no'),
				type: 'warning'
			})
				.then(() => {
					/* if (!_delete) {
						if (this.form[field][id]._newData) {
							this.form[field].splice(id, 1);
						} else {
							this.form[field][id]._delete = true;
						}
					} else {
						delete this.form[field][id]._delete;
					} */
					this.form[field].splice(id, 1);
					// 移除時需要先執行changeForm更新畫面內容
					this.changeForm(field);
					this.$forceUpdate();
					this.$message({
						type: 'success',
						message: success_message
					});
				})
				.catch(() => {
					this.$message({
						type: 'info',
						message: this.$t('message.cancel')
					});
				});
		},
		changeForm(id, sub_field) {
			// console.log('call changeForm');
			// console.log(id);
			// console.log(sub_field);
			let field = this.fields.find(ele => ele.id === id);
			if (field.onChange) {
				let onChangeFunction = eval(field.onChange);
				onChangeFunction(this.form);
			}
		},
		changeSubForm(data) {
			// console.log('call changeSubForm');
			// console.log(data);
			this.changeForm(data.field_id, data.field);
		},

		generate_collapse_title(id, formIndex) {
			// console.log('call generate_collapse_title');
			// console.log(id+formIndex);
			let field = this.fields.find(ele => ele.id === id);

			if (field.title === null || typeof field.title === 'undefined') {
				return '展開';
			}
			var i = 0;
			var showtitle = '';
			for (i = 0; i < field.title.length; i++) {
				for (var prop in this.form[id][formIndex]) {
					if (prop === field.title[i]) {
						var unitStr = '';
						if (field.showUnit === true) {
							if (
								field.fields[prop].unit === null ||
								typeof field.fields[prop].unit === 'undefined'
							) {
								unitStr = '';
							} else unitStr = field.fields[prop].unit;
						}
						showtitle += this.form[id][formIndex][prop];

						if (
							this.form[id][formIndex][prop] != '' &&
							unitStr != ''
						)
							showtitle += unitStr;
					}
				}

				if (i <= showtitle.length) showtitle += ' ';
			}
			return showtitle;
		}
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.sub_model {
	padding: 20px;
	border: 1px solid #d7dae2;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
	margin: 10px;
}
.close-sub-model {
	margin-left: 95%;
	margin-bottom: 5px;
}
.sub_model .el-form-item {
	margin-bottom: 22px;
}
.bg_modify {
	background: #e1f3d8;
}
.bg_add {
	background: #f1e1ff;
}
.bg_delete {
	background: #e0e0e0;
}
</style>
